<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST">
            <fieldset>
                <legend>Отмывка</legend>
                <div class="form-group">
                    <input type="checkbox" id="Clear" name="Clear" value="1" onclick="check('Clear', 'Clear_off')"
                           {% if session.get('Clear_form')%} {% if session['Clear_form']['Clear'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Clear">Выполнять отмывку? </label>
                </div>
            </fieldset>
            <div class="form-group" id="Clear_off">
                <label>Выберите программу отмывки</label>
                <br>
                <label>
                    <input type="radio" name="Clear_type" value="1"
                           {% if session.get('Clear_form')%} {% if session['Clear_form']['Clear'] == "1" %} checked {% endif %} {% endif %}>
                    Укороченная
                </label>
                <br>
                <label>
                    <input type="radio" name="Clear_type"
                           {% if session.get('Clear_form')%} {% if session['Clear_form']['Clear'] == "2" %} checked {% endif %} {% endif %} value="2">
                    Полная
                </label>
                <br>
            </div>
            <div class="container">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>{{ df.columns[0] }}</th>
                                <th>{{ df.columns[1] }}</th>
                            </tr>
                        </thead>
                        {% for row in df.iterrows(): %}
                        <tr>
                            {% for cell in row[1] %}
                            <td>
                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                    <input {% if edit == "0" %} disabled {% endif %}
                                           type="number" min = 1 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                {% else %} <!-- Если это не второй столбец -->
                                    {{ cell }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <label>Пароль:</label>
                <input type="password" class="form-control" name="password">
                <button type="submit" class="btn btn-primary" name="save">Изменить</button>
                <br>
                <button {% if edit == "0" %} disabled {% endif %}
                        type="submit" class="btn btn-primary" name="save2">Сохранить</button>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
        </form>
    </div>
    <script>
        window.onload = function(){
            check('Clear', 'Clear_off');
        }
        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }
    </script>
</body>
</html>