<!DOCTYPE html>
<html>
<head>
    <title>money.contract</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <br>
        <form id = "myForm" method="POST">
            <label>Имя нового заказчика:</label>
            <input type="text" pattern="[^\\\/]*" class="form-control" name="name" placeholder="Введите имя нового заказчика">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button> 
            <button type="submit" class="btn btn-primary" name="new">Добавить</button> 
        </form>
    </div>
</body>