<!DOCTYPE html>
<html>
<head>
    <title>Каталог</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <h1>Список изделий</h1>
        <a href="{{ url_for('list_directories', path=parent_directory) }}" class="btn btn-primary">Назад</a>
        <br>
        <!-- Добавлен элемент для ввода даты -->
        <table>
            <tr>
                <td>Начальная дата</td>
                <td>
                    <input type="date" id="startDateInput" placeholder="Начальная дата" class="form-control input-sm">
                </td>
            </tr>
            <tr>
                <td>Конечная дата</td>
                <td>
                    <input type="date" id="endDateInput" placeholder="Конечная дата" class="form-control input-sm">
                </td>
            </tr>
        </table>

        <div class="table">
            {% if file_data %}
                <table id="dataTable">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Размер партии</th>
                            <th>Дата</th>
                            <th>Комментарий</th>
                            <th>Цена за ПУ</th>
                            <th>Стоимость</th>
                            <th>Действия</th>
                            <th>Договор</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in file_data  | sort(attribute='batch_size')| sort(attribute='date')%}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.batch_size }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{ item.comment }}</td>
                                <td>{{ item.cost }}</td>
                                <td>{{ item.costpo }}</td>
                                <td>
                                    <form action="/copy" method="post" style="display: inline;">
                                        <input type="hidden" name="file_path" value="{{ item.file_path }}">
                                        <button type="submit" class="btn btn-primary">Скопировать</button>
                                    </form>
                                    <form action="/open"  method="post" style="display: inline;">
                                        <input type="hidden" name="file_path" value="{{ item.file_path }}">
                                        <button type="submit" {% if item.visibility_edit == 0 %}  disabled {% endif %} class="btn btn-primary">Открыть</button>
                                    </form>
                                    <form action="/download"  method="post" style="display: inline;">
                                        <input type="hidden" name="file_path" value="{{ item.file_path }}">
                                        {{ item.file_path }}
                                        <button type="submit" {% if item.visibility_download == 1 %}  disabled {% endif %} class="btn btn-primary">Скачать</button>
                                    </form>
                                    <form action="/delete" method="post" style="display: inline;">
                                        <input type="hidden" name="file_path" value="{{ item.file_path }}">
                                        <button type="submit" class="btn btn-primary" onclick="confirmDelete()" >Удалить</button>
                                    </form>
                                </td>
                                <td>
                                    {% if item.visibility_edit == 0 %}
                                        &#10004;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <script>
        function confirmDelete() {
            console.log(1);
            if (confirm('Вы уверены, что хотите удалить файл?')) {
                document.getElementById('deleteForm').submit();
            } else {
                event.preventDefault();
            }
        }   

        document.addEventListener("DOMContentLoaded", function() {
            var table = document.getElementById("dataTable");
            var dateColumn = document.querySelectorAll("#dataTable tbody td:nth-child(3)");

            dateColumn.forEach(function(cell) {
                var dateStr = cell.innerText;
                cell.setAttribute("data-date", dateStr);
            });

            table.querySelector("th:nth-child(3)").addEventListener("click", function() {
                var rows = Array.from(table.querySelectorAll("tr"));
                var sortedRows = rows.slice(1).sort(function(a, b) {
                    return new Date(a.querySelector("td:nth-child(3)").getAttribute("data-date")) - new Date(b.querySelector("td:nth-child(3)").getAttribute("data-date"));
                });
                table.querySelector("tbody").innerHTML = "";
                sortedRows.forEach(function(row) {
                    table.querySelector("tbody").appendChild(row);
                });
            });

            document.getElementById("startDateInput").addEventListener("change", filterByDate);
            document.getElementById("endDateInput").addEventListener("change", filterByDate);

            function filterByDate() {
                var startDate = new Date(document.getElementById("startDateInput").value);
                var endDate = new Date(document.getElementById("endDateInput").value);

                table.querySelectorAll("tr").forEach(function(row) {
                    var dateCell = row.querySelector("td:nth-child(3)");
                    if (dateCell) {
                        var dateValue = new Date(dateCell.getAttribute("data-date"));
                        if (dateValue >= startDate && dateValue <= endDate) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>