<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Редактирование таблицы</h1>
    <form method="POST">
        <table>
            {% for row in df.iterrows(): %}
            <tr>
                {% for cell in row[1] %}
                <td>
                    {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                        <input type="text" name="row{{ row[0] }}" value="{{ cell }}" />
                    {% else %} <!-- Если это не второй столбец -->
                        {{ cell }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
         <button type="submit" class="btn btn-primary" name="save">Сохранить</button>
    </form>
</body>
</html>