<!DOCTYPE html>
<html>
<head>
    <!-- Начало секции head: метаданные, стили и внешние скрипты -->
    <title>money.contract</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <!-- Подключение скрипта Checks.js (для управления видимостью элементов) -->
    <script src="scripts/Checks.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Конец секции head -->
</head>
<body>
    <!-- Начало тела документа -->
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <!-- Основная форма для параметров ручных операций -->
        <form id = "myForm" method="POST">
            <br>
            <!-- Кнопки навигации: Назад, Тарифы, Вперёд -->
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <!-- Секция: Включение/выключение ручной пайки -->
            <fieldset>
                <legend>Ручной монтаж</legend>
                <div class="form-group">
                    <!-- Чекбокс для активации/деактивации ручной пайки -->
                    <input type="checkbox" id="Hand" name="Hand" value="1" onclick="check('Hand', 'Hand_off')"
                           {% if session.get('Hand_form')%} {% if session['Hand_form']['Hand'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Hand">Выполнять ручной монтаж? </label>
                </div>
            </fieldset>
            <!-- Таблица с основными параметрами ручной пайки и итоговой стоимостью -->
            <table id="Hand_off">
                <tr>
                    <!-- Левая колонка: Ввод количества THT и SMD компонентов -->
                    <td style="width: 30%;">
                        <div class="form-group" id="Hand_off">
                            <label>Количество точек пайки</label>
                            <br>
                            <input type="number" class="form-control" min="1" required step="1" name="Hand_num" id="Hand_num"
                                value="{{ session['Hand_form']['Hand_num'] if session.get('Hand_form') else '1' }}">
                        </div>
                    </td>
                    <!-- Средняя колонка: Метки для итоговой стоимости -->
                    <td style="width: 40%;">                        
                        <div class="form-group">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость 1 ПУ">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                        </div>
                    </td>
                    <!-- Правая колонка: Поля для отображения итоговой стоимости (только чтение) -->
                    <td style="width: 40%;">
                        <div class="form-group">                            
                            <input type="text" name="money_pc_f" id="money_pc_f" class="form-control" readonly> 
                            <input type="text" name="money_all_f" id="money_all_f" class="form-control" readonly> 
                        </div>
                    </td>
                </tr>
            </table>
            <!-- Секция "аккордеон" для отображения детализированных данных по стоимости ручной пайки -->
            <div class="panel-group" id="accordion_dat">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_data" href="#collapseOne_data">
                                Данные по стоимости ручного монтажа
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne_data" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <!-- Поля для отображения различных расчетных параметров ручной пайки (только чтение) -->
                                    <td>
                                        <input type="text" class="form-control" readonly value="Количество ПУ в партии">
                                        <input type="text" class="form-control" readonly value="Времени на пайку ПУ">
                                        <input type="text" class="form-control" readonly value="Стоимость пайки ПУ">
                                        <input type="text" class="form-control" readonly value="Времени на пайку партии">
                                        <input type="text" class="form-control" readonly value="Стоимость пайки партии">
                                        <input type="text" class="form-control" readonly value="Времени на контроль партии">
                                        <input type="text" class="form-control" readonly value="Стоимость контроля партии">
                                    </td>
                                    <td>
                                        <input type="text" name="PCB" id="PCB" class="form-control" readonly>
                                        <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                                        <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                                        <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                                        <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                                        <input type="text" name="control_time_all" id="control_time_all" class="form-control" readonly>
                                        <input type="text" name="control_money_all" id="control_money_all" class="form-control" readonly>
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Данные для ручного монтажа
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>{{ df.columns[0] }}</th>
                                                <th>{{ df.columns[1] }}</th>
                                            </tr>
                                        </thead>
                                        {% for row in df.iterrows(): %}
                                        <tr>
                                            {% for cell in row[1] %}
                                            <td>
                                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                    <input {% if edit == "0" %} disabled {% endif %}
                                                        type="number" min = 1 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                {% else %} <!-- Если это не второй столбец -->
                                                    {{ cell }}
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        
                                    </table>
                                </div>
                                <label>Пароль:</label>
                                <input type="password" class="form-control" name="password" 
                                        onkeydown="return event.key != 'Enter';">                
                                <br>
                                <button {% if edit != "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save" 
                                        onkeydown="return event.key != 'Enter';">Изменить</button>
                                <button {% if edit == "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save2" 
                                        onkeydown="return event.key != 'Enter';">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
    <!-- Начало блока JavaScript -->
    <script>
        ids = ["Hand", "Hand_num"];

        window.onload = function(){
            check('Hand', 'Hand_off');
            hand_amount();
        }

        const points = document.getElementById('Hand_num');

        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }

        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                hand_amount();
            });
        }
        var chckbx = document.getElementById('Hand');

        function hand_amount(){
            var batch = parseInt({{ session['home_form']['field3']}});
            var multi_num = parseInt({{ session['second_form']['multi_num']}});
            var pc = parseInt({{ session['second_form']['pc']}});
            const points_value = parseInt(points.value);
            let time_pc = points_value * parseFloat({{df['Значение'][0]}});
            const time_all = Math.ceil((time_pc * batch + parseFloat({{df['Значение'][1]}}))/ 3600 );
            time_pc = Math.ceil(time_all / batch * 3600);
            const money_all = Math.ceil(time_all * parseInt({{ df2['Стоимость, руб/ч'][8]}}));
            const money_pc = Math.ceil(money_all / batch);
            control_time_all = Math.ceil(batch * parseFloat({{df['Значение'][2]}}) * points_value / 3600);
            control_money_all = Math.ceil(control_time_all * parseInt({{ df2['Стоимость, руб/ч'][21]}}));
            if (chckbx.checked){
                document.getElementById('PCB').value = batch + " шт";
                document.getElementById('time_pc').value = time_pc + " c";
                document.getElementById('time_all').value = time_all + " ч";
                document.getElementById('money_pc').value = money_pc + " руб";
                document.getElementById('money_all').value = money_all + " руб";
                document.getElementById('control_time_all').value = control_time_all + " ч";
                document.getElementById('control_money_all').value = control_money_all + " руб";
                
                money_all_f = money_all + control_money_all;
                money_pc_f = Math.ceil(money_all_f / batch);
                document.getElementById("money_pc_f").value = money_pc_f + " руб";
                document.getElementById("money_all_f").value = money_all_f + " руб";

            } else {
                document.getElementById('PCB').value = '-';
                document.getElementById('time_pc').value = '-';
                document.getElementById('time_all').value = '-';
                document.getElementById('money_pc').value = '-';
                document.getElementById('money_all').value = '-';

                document.getElementById('control_time_all').value = '-';
                document.getElementById('control_money_all').value = '-';
                document.getElementById("money_all_f").value = '-';
                document.getElementById("money_pc_f").value = '-';
            }
        }
    </script>
    <!-- Конец блока JavaScript -->
</body>
</html>