<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <br>
        <form id = "myForm" method="POST">
            <button type="submit" class="btn btn-primary" name="back">Назад</button> 
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <button type="submit" class="btn btn-primary" name="new">Новый заказчик</button>
            <div class="form-group">
                <br>
                <label>Заказчик:</label>
                <a href="#" data-toggle="tooltip" title="Выбирается из списка. В случае если заказчика нет в выпадающем меню, добавьте его через каталог изделий">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </a>
                <select name="field1" class="form-control">
                    <option selected hidden></option>
                    {% for folder in file_tree %}
                    <option value="{{ folder }}" {% if session.get('home_form')%} {% if session['home_form']['field1'] == folder %} selected {% endif %} {% endif %}>{{ folder }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Изделие:</label>
                <input type="text" class="form-control" name="field2" value="{{ session['home_form']['field2'] if session.get('home_form') else '' }}">
            </div>
            <div class="form-group">
                <label>Партия:</label>
                <input type="number" class="form-control" name="field3" min="1" step="1" value="{{ session['home_form']['field3'] if session.get('home_form') else '' }}">
            </div>
            <div class="form-group">
                <label>Комментарий:</label>
                <input class="form-control" name="comm" id="comm"
                    value="{{ session['home_form']['comm'] if session.get('home_form') else '' }}">
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</body>
</html>