<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <br>
        <form id = "myForm" method="POST">
            <button type="submit" class="btn btn-primary" name="back">Назад</button> 
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <div class="form-group">
                <br>
                <label>Заказчик:</label>
                <select name="field1" class="form-control">
                    {% for folder in file_tree %}
                    <option value="{{ folder }}">{{ folder }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Изделие:</label>
                <input type="text" class="form-control" name="field2" value="{{ session['home_form']['field2'] if session.get('home_form') else '' }}">
            </div>
            <div class="form-group">
                <label>Партия:</label>
                <input type="number" class="form-control" name="field3" min="1" step="1" value="{{ session['home_form']['field3'] if session.get('home_form') else '' }}">
            </div>
        </form>
    </div>
</body>
</html>