<!DOCTYPE html>
<html>
<head>
    <title>money.contract</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <fieldset>
                <legend>Селективная лакировка HRL</legend>
                <div class="form-group">
                    <input type="checkbox" id="HRL" name="HRL" value="1" onclick="check('HRL', 'HRL_off')"
                           {% if session.get('HRL_form')%} {% if session['HRL_form']['HRL'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="HRL">Выполнять селективную лакировку HRL? </label>
                </div>
            </fieldset>
            <div class="form-group" id="HRL_off">
                <table>
                    <tr>
                        <td style="width: 30%;">
                            <label>Выберите количество сторон для селектиной лакировки</label>
                            <br>
                            <label>
                                <input type="radio" name="HRL_type" value="1" id="HRL_type_1"
                                    {% if session.get('HRL_form')%} {% if session['HRL_form']['HRL_type'] == "1" %} checked {% endif %} {% endif %}>
                                Односторонняя
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="HRL_type" id="HRL_type_2"
                                    {% if session.get('HRL_form')%} {% if session['HRL_form']['HRL_type'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Двустронняя
                            </label>
                            <br>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly value="Итоговая стоимость 1 ПУ">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                        </td>
                        <td>
                            <input type="text" name="money_all_f" id="money_pc_f" class="form-control" readonly>  
                            <input type="text" name="money_all_f" id="money_all_f" class="form-control" readonly>  
                        </td>
                    </tr>
                </table>
                <div class="panel-group" id="accordion_dat">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion_data" href="#collapseOne_data">
                                    Данные по стоимости HRL лакировки
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne_data" class="panel-collapse collapse" >
                            <div class="panel-body">
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Наименование</th>
                                                <th>Значение</th>
                                            </tr>
                                        </thead>
                                        <td>
                                            <input type="text" class="form-control" readonly value="Количество ПУ в партии">
                                            <input type="text" class="form-control" readonly value="Времени на лакировку ПУ">
                                            <input type="text" class="form-control" readonly value="Стоимость лакировки ПУ">
                                            <input type="text" class="form-control" readonly value="Времени на лакировку партии">
                                            <input type="text" class="form-control" readonly value="Стоимость лакировки партии">
                                            <input type="text" class="form-control" readonly value="Времени на переналадку ПУ">
                                            <input type="text" class="form-control" readonly value="Стоимость переналадки ПУ">
                                            <input type="text" class="form-control" readonly value="Времени на переналадку партии">
                                            <input type="text" class="form-control" readonly value="Стоимость переналадки партии">
                                            <input type="text" class="form-control" readonly value="Время ремонта партии">
                                            <input type="text" class="form-control" readonly value="Стоимость ремонта партии">
                                            <input type="text" class="form-control" readonly value="Время контроля ремонта партии">
                                            <input type="text" class="form-control" readonly value="Стоимость контроля ремонта партии">
                                        </td>
                                        <td>
                                            <input type="text" name="PCB" id="PCB" class="form-control" readonly>
                                            <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                                            <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                                            <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                                            <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                                            <input type="text" name="time_re_pc" id="time_re_pc" class="form-control" readonly>
                                            <input type="text" name="money_re_pc" id="money_re_pc" class="form-control" readonly>
                                            <input type="text" name="time_re_all" id="time_re_all" class="form-control" readonly>
                                            <input type="text" name="money_re_all" id="money_re_all" class="form-control" readonly>
                                            <input type="text" name="repair_time_all" id="repair_time_all" class="form-control" readonly>
                                            <input type="text" name="repair_money_all" id="repair_money_all" class="form-control" readonly>
                                            <input type="text" name="control_time_all" id="control_time_all" class="form-control" readonly>
                                            <input type="text" name="control_money_all" id="control_money_all" class="form-control" readonly>
                                        </td>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Данные для селективной влагозащиты
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" >
                            <div class="panel-body">
                                <div>
                                    <div class="table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>{{ df.columns[0] }}</th>
                                                    <th>{{ df.columns[1] }}</th>
                                                </tr>
                                            </thead>
                                            {% for row in df.iterrows(): %}
                                            <tr>
                                                {% for cell in row[1] %}
                                                <td>
                                                    {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                        <input {% if edit == "0" %} disabled {% endif %}
                                                            type="number" min = 0 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                    {% else %} <!-- Если это не второй столбец -->
                                                        {{ cell }}
                                                    {% endif %}
                                                </td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>Ширина мультизаготовки</td>
                                                <td>
                                                    <input type="number" disabled class="form-control" value="{{ session['second_form']['width'] }}"></input>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Длина мультизаготовки</td>
                                                <td>
                                                    <input type="number" disabled class="form-control" value="{{ session['second_form']['length'] }}"></input>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Партия</td>
                                                <td>
                                                    <input type="number" disabled class="form-control" value="{{ session['home_form']['field3'] }}"></input>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <label>Пароль:</label>
                                    <input type="password" class="form-control" name="password" 
                                            onkeydown="return event.key != 'Enter';">                
                                    <br>
                                    <button {% if edit != "0" %} disabled {% endif %}
                                            type="submit" class="btn btn-primary" name="save" 
                                            onkeydown="return event.key != 'Enter';">Изменить</button>
                                    <button {% if edit == "0" %} disabled {% endif %}
                                            type="submit" class="btn btn-primary" name="save2" 
                                            onkeydown="return event.key != 'Enter';">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
    <script>
        ids = ["HRL_type_2", "HRL_type_1", "HRL"];
        window.onload = function(){
            check_all('HRL', 'HRL_off');
        }

        function check_all(master, slave){
            check(master, slave);
            HRL_amount();
        }
        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                check_all('HRL', 'HRL_off');
            });
        }

        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }

        const chckbx = document.getElementById('HRL');
        const type = document.getElementsByName('HRL_type')

        function HRL_amount(){
            var batch = parseInt({{ session['home_form']['field3']}});
            var multi_num = parseInt({{ session['second_form']['multi_num']}});
            var pc = parseInt({{ session['second_form']['pc']}});
            var time_multi = 0;
            var time_all = 0;
            var time_pc = 0;
            var money_all = 0;
            var money_pc = 0;
            var sides = 0;
            var area = Math.ceil(parseFloat({{ session['second_form']['width']}}) * parseFloat({{ session['second_form']['length']}}));
            var prev = parseInt({{ session['second_form']['prev']}});
            if (prev == 1){
                prev = 1 - parseFloat({{ df['Значение'][2] }});
            } else if (prev == 2){
                prev = 1;
            }
            if (chckbx.checked){
                document.getElementById('PCB').value = batch + " шт";
                if (type[0].checked){
                    sides = 1;
                } else if (type[1].checked){
                    sides = 2;
                }
                let repair = 0;
                if (prev == 1){
                    repair = parseFloat({{df["Значение"][5]}}) * batch;
                } else if (prev == 2){
                    repair = parseFloat({{df["Значение"][4]}}) * batch;
                }
                repair_time_all = Math.ceil(repair * parseFloat({{df["Значение"][6]}}) / 100 / 3600);
                repair_time_pc = Math.ceil(repair_time_all / batch * 3600);
                repair_money_all = Math.ceil(repair_time_all * parseInt({{ df2['Стоимость, руб/ч'][8]}}) );
                repair_time_pc = Math.ceil(repair_money_all / batch);

                control_time_all = Math.ceil(repair * parseFloat({{df["Значение"][7]}}) / 100 / 3600);
                control_time_pc = Math.ceil(control_time_all / batch * 3600);
                control_money_all = Math.ceil(control_time_all * parseInt({{ df2['Стоимость, руб/ч'][21]}}) );
                control_time_pc = Math.ceil(control_money_all / batch);

                console.log(area)
                var prod = multi_num * sides * Math.ceil(area / parseInt({{df['Значение'][0]}}));
                console.log(prod)
                var start = parseInt({{df['Значение'][3]}}) * sides * prev;
                time_all = Math.ceil((prod * parseInt({{df['Значение'][1]}}))/3600);
                var time_re_all = Math.ceil((start)/3600);
                money_all = Math.ceil((time_all * parseFloat({{df2['Стоимость, руб/ч'][6]}})));
                money_re_all = Math.ceil((start * parseFloat({{df2['Стоимость, руб/ч'][7]}}))/3600);
                money_pc = Math.ceil(money_all / batch);
                time_pc = Math.ceil(time_all/batch * 3600);
                var money_re_pc = Math.ceil(money_re_all / batch);
                var time_re_pc = Math.ceil(time_re_all/batch * 3600);
                document.getElementById('time_pc').value = time_pc + " c";
                document.getElementById('time_all').value = time_all + " ч";
                document.getElementById('money_pc').value = money_pc + " руб";
                document.getElementById('money_all').value = money_all + " руб";
                document.getElementById('time_re_pc').value = time_re_pc + " c";
                document.getElementById('time_re_all').value = time_re_all + " ч";
                document.getElementById('money_re_pc').value = money_re_pc + " руб";
                document.getElementById('money_re_all').value = money_re_all + " руб";
                
                document.getElementById('repair_time_all').value = repair_time_all + " ч";
                document.getElementById('repair_money_all').value = repair_money_all + " руб";

                document.getElementById('control_time_all').value = control_time_all + " ч";
                document.getElementById('control_money_all').value = control_money_all + " руб";
                
                money_all_f = money_all + money_re_all + repair_money_all + control_money_all;
                money_pc_f = Math.ceil(money_all_f / batch);
                document.getElementById("money_all_f").value = money_all_f + " руб";
                document.getElementById("money_pc_f").value = money_pc_f + " руб";

            } else {
                document.getElementById('PCB').value = '-';
                document.getElementById('time_pc').value = '-';
                document.getElementById('time_all').value = '-';
                document.getElementById('money_pc').value = '-';
                document.getElementById('money_all').value = '-';
                document.getElementById('time_re_pc').value = '-';
                document.getElementById('time_re_all').value = '-';
                document.getElementById('money_re_pc').value = '-';
                document.getElementById('money_re_all').value = '-';
                
                document.getElementById("money_pc_f").value = '-';
                document.getElementById("money_all_f").value = '-';

                document.getElementById('repair_time_all').value = '-';
                document.getElementById('repair_money_all').value = '-';

                document.getElementById('control_time_all').value = '-';
                document.getElementById('control_money_all').value = '-';

            }
        };
    </script>
</body>
</html>