<!DOCTYPE html>
<html>
<head>
    <title>Second Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form method="POST">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <table>
                <tr>
                    <td style="width: 50%;">
                        <div class="form-group">
                            <label>Комплектация:</label>
                            <br>
                            <label>
                                <input type="radio" name="Comp" value="1"
                                       {% if session.get('second_form')%} {% if session['second_form']['Comp'] == "1" %} checked {% endif %} {% endif %}>
                                Давальческая (россыпью)
                                <a href="#" data-toggle="tooltip" title="+15% к входному контролю">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </a>
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Comp"
                                       {% if session.get('second_form')%} {% if session['second_form']['Comp'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Давальческая (в заводской упаковке)
                                <a href="#" data-toggle="tooltip" title="+10% к входному контролю">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </a>
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Comp" 
                                       {% if session.get('second_form')%} {% if session['second_form']['Comp'] == "3" %} checked {% endif %} {% endif %} value="3">
                                Закупка Starline
                                <a href="#" data-toggle="tooltip" title="Надбавочного коэффициента нет">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </a>
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Comp"
                                       {% if session.get('second_form')%} {% if session['second_form']['Comp'] == "4" %} checked {% endif %} {% endif %} value="4">
                                Смешанная
                                <a href="#" data-toggle="tooltip" title="+15% к входному контролю">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </a>
                            </label>
                            <br>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="checkbox" id="prepare" name="prepare" value="1"
                           {% if session.get('second_form')%} {% if session['second_form']['prepare'] %} checked="checked" {% endif %} {% endif %}>
                            <label for="HRL">Выполнять подготовку производства? 
                                <a href="#" data-toggle="tooltip" title="Влияет на стоимость подготовки производства, в т.ч. трафаретов">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </a>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Производство:</label>
                            <br>
                            <label>
                                <input type="radio" name="prod" value="1"
                                       {% if session.get('second_form')%} {% if session['second_form']['prod'] == "1" %} checked {% endif %} {% endif %}>
                                Победит 1
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="prod"
                                       {% if session.get('second_form')%} {% if session['second_form']['prod'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Победит 5
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Производилось ранее?
                                
                                <a href="#" data-toggle="tooltip" title="Влияет на количество плат, отправляемых на ремонт (-50%)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </a>
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="prev" value="1"
                                       {% if session.get('second_form')%} {% if session['second_form']['prev'] == "1" %} checked {% endif %} {% endif %}>
                                Да
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="prev"
                                       {% if session.get('second_form')%} {% if session['second_form']['prev'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Нет
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Трафареты:</label>
                            <br>
                            <label>
                                <input type="radio" name="Traf" id='Traf_N' value="1"
                                       {% if session.get('second_form')%} {% if session['second_form']['Traf'] == "1" %} checked {% endif %} {% endif %}>
                                Давальческие
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Traf" id="Traf_Y"
                                       {% if session.get('second_form')%} {% if session['second_form']['Traf'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Разрабатывает Starline
                            </label>
                            <div class="form-group" id="Traf_costs" style="display:none; margin: 10px">
                                <table margin="0" style="width: 100%;">
                                    <tr>
                                        <td style="width: 50%;">
                                            <div class="form-group">
                                                <label>Количество сторон SMD:</label>
                                                <br>
                                                <label>
                                                    <input type="radio" name="sides_SMD" value="1"
                                                        {% if session.get('second_form')%} {% if session['second_form']['sides_SMD'] == "1" %} checked {% endif %} {% endif %}>
                                                    Односторонняя
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="radio" name="sides_SMD"
                                                        {% if session.get('second_form')%} {% if session['second_form']['sides_SMD'] == "2" %} checked {% endif %} {% endif %} value="2">
                                                    Двусторонняя
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label>Выбор стоимости:</label>
                                                <br>
                                                <label>
                                                    <input type="radio" name="Trafs_costs_select" value="1" id="Trafs_costs_select1"
                                                        {% if session.get('second_form')%} {% if session['second_form']['Trafs_costs_select'] == "1" %} checked {% endif %} {% endif %}>
                                                    Тарифная
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="radio" name="Trafs_costs_select" id="Trafs_costs_select2"
                                                        {% if session.get('second_form')%} {% if session['second_form']['Trafs_costs_select'] == "2" %} checked {% endif %} {% endif %} value="2">
                                                    Ручная
                                                </label>
                                                <div class="form-group" id="Traf_costs1" style="display:none; margin: 10px">
                                                    <label>Стоимость трафарета</label>
                                                    <br>
                                                    <select name="Traf_value2" class="form-control">
                                                        <option {% if session.get('second_form')%} {% if session['second_form']['Traf_value2'] == "1" %} selected {% endif %} {% endif %}
                                                                value="1" >
                                                            Простой трафарет - 15.000 руб
                                                        </option>
                                                        <option {% if session.get('second_form')%} {% if session['second_form']['Traf_value2'] == "2" %} selected {% endif %} {% endif %}
                                                                value="2">
                                                            Средний трафарет - 30.000 руб
                                                        </option>
                                                        <option {% if session.get('second_form')%} {% if session['second_form']['Traf_value2'] == "3" %} selected {% endif %} {% endif %}
                                                                value="3">
                                                            Сложный трафарет - 100.000 руб
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group" id="Traf_costs2" style="display:none; margin: 10px">
                                                    <label>Стоимость трафарета</label>
                                                    <input type="number" class="form-control" name="Traf_value"
                                                        value="{{ session['second_form']['Traf_value'] if session.get('second_form') else '' }}"
                                                        placeholder="За 1 шт." min="0" step="1000">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Количество плат по Y:</label>
                                <input type="number" class="form-control" name="width_num" id="width_num" min ="1"
                                    value="{{ session['second_form']['width_num'] if session.get('second_form') else '' }}">
                                <label>Количество плат по X:</label>
                                <input type="number" min="1" class="form-control" name="length_num" id="length_num"
                                    value="{{ session['second_form']['length_num'] if session.get('second_form') else '' }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Ширина исходной печатной платы:</label>
                                <input type="number" class="form-control" min="1" step="any" name="width_pp" id="width_pp"
                                    value="{{ session['second_form']['width_pp'] if session.get('second_form') else '' }}">
                                <label>Длина исходной печатной платы:</label>
                                <input type="number" class="form-control" min="1" step="any" name="length_pp" id="length_pp" 
                                    value="{{ session['second_form']['length_pp'] if session.get('second_form') else '' }}">
                            </div>
                            <div class="form-group">
                                <label>Ширина мультзаготовки:</label>
                                <input type="number" class="form-control" min="1" step="any" name="width" id="width" 
                                    value="{{ session['second_form']['width'] if session.get('second_form') else '' }}">
                                <label>Длина мультизаготовки:</label>
                                <input type="number" class="form-control" min="1" step="any" name="length" id="length" 
                                    value="{{ session['second_form']['length'] if session.get('second_form') else '' }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Всего плат в мультизаготовке:</label>
                            <input type="number" min="1" class="form-control" name="pc" id ="pc" readonly>
                            <label>Всего мультизаготовок:</label>
                            <input type="number" min="1" class="form-control" name="multi_num" id ="multi_num" readonly>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
        let num_x = document.getElementById('length_num');
        let num_y = document.getElementById('width_num');
        function checkOption(optionId, fieldId) {
            var radioOption1 = document.getElementById(optionId);
            var extraField = document.getElementById(fieldId);

            if(radioOption1.checked) {
                extraField.style.display = 'block';
            } else {
                extraField.style.display = 'none';
            }
        }

        window.onload = function(){
            checkOption('Traf_Y', 'Traf_costs');
            checkOption('Trafs_costs_select1', 'Traf_costs1');
            checkOption('Trafs_costs_select2', 'Traf_costs2');
            pc_number();
        }
        document.getElementById('Traf_Y').addEventListener('change', function() {
            checkOption('Traf_Y', 'Traf_costs');
        });

        document.getElementById('Traf_N').addEventListener('change', function() {
            checkOption('Traf_Y', 'Traf_costs');
        });

        document.getElementById('Trafs_costs_select1').addEventListener('change', function() {
            checkOption('Trafs_costs_select1', 'Traf_costs1');
        });

        document.getElementById('Trafs_costs_select2').addEventListener('change', function() {
            checkOption('Trafs_costs_select2', 'Traf_costs2');
        });

        document.getElementById('Trafs_costs_select2').addEventListener('change', function() {
            checkOption('Trafs_costs_select1', 'Traf_costs1');
        });

        document.getElementById('Trafs_costs_select1').addEventListener('change', function() {
            checkOption('Trafs_costs_select2', 'Traf_costs2');
        });
        
        document.getElementById('length_num').addEventListener('change', function() {
            pc_number();
        });

        
        document.getElementById('width_pp').addEventListener('change', function() {
            let width_pp = parseFloat(document.getElementById("width_pp").value);
            let y = parseFloat(document.getElementById("width_num").value);

            if (!isNaN(width_pp) && !isNaN(y)) {
                document.getElementById("width").value = width_pp * y;
            }
        });
        
        document.getElementById('width_num').addEventListener('change', function() {
            let width_pp = parseFloat(document.getElementById("width_pp").value);
            let y = parseFloat(document.getElementById("width_num").value);

            if (!isNaN(width_pp) && !isNaN(y)) {
                document.getElementById("width").value = width_pp * y;
            }
        });
        
        document.getElementById('length_pp').addEventListener('change', function() {
            let length_pp = parseFloat(document.getElementById("length_pp").value);
            let x = parseFloat(document.getElementById("length_num").value);

            if (!isNaN(length_pp) && !isNaN(x)) {
                document.getElementById("length").value = length_pp * x;
            }
        });
        document.getElementById('length_num').addEventListener('change', function() {
            let length_pp = parseFloat(document.getElementById("length_pp").value);
            let x = parseFloat(document.getElementById("length_num").value);

            if (!isNaN(length_pp) && !isNaN(x)) {
                document.getElementById("length").value = length_pp * x;
            }
        });

        document.getElementById('width').addEventListener('change', function() {
            let width_pp = parseFloat(document.getElementById("width").value);
            let y = parseFloat(document.getElementById("width_num").value);

            if (!isNaN(width_pp) && !isNaN(y)) {
                document.getElementById("width_pp").value = Math.ceil(width_pp / y);
            }
        });

        document.getElementById('length').addEventListener('change', function() {
            let length_pp = parseFloat(document.getElementById("length").value);
            let x = parseFloat(document.getElementById("length_num").value);

            if (!isNaN(length_pp) && !isNaN(x)) {
                document.getElementById("length_pp").value = Math.ceil(length_pp / x);
            }
        });
        
        function pc_number(){
            const pc_x = parseInt(num_x.value);
            const pc_y = parseInt(num_y.value);
            document.getElementById('pc').value = pc_x * pc_y;
            document.getElementById('multi_num').value = Math.ceil({{session['home_form']['field3']}} / (pc_x * pc_y));
        }
    </script>
</body>
</html>