<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <title>money.contract</title>
</head>
<body>
    <div class="container">
        <form id = "myForm" method="POST">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="download">Скачать таблицу</button>
            <button type="submit" class="btn btn-primary" name="new">Новый расчёт</button>
            <br>
            <p></p>
            <body>
            <h1>Стоимость производства</h1>
            {% for table in tables1 %}
                {{ table|safe }}
            {% endfor %}
            {% if table == 1%}
                <h1>Стоимость подготовки</h1>
                {% for table in tables2 %}
                    {{ table|safe }}
                {% endfor %}
            {%endif%}
            <h1>Доп. информация</h1>
            {% for table in tables3 %}
                {{ table|safe }}
            {% endfor %}
            </body>
        </form>
    </div>
</body>
</html>