<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST">
            <fieldset>
                <legend>Автоматический поверхностный монтаж SMT</legend>
                <div class="form-group">
                    <input type="checkbox" id="SMD" name="SMD" value="1" onclick="check('SMD', 'SMD_off')"
                           {% if session.get('SMD_form')%} {% if session['SMD_form']['SMD'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="SMD">Выполнять автоматический поверхностный монтаж SMT? </label>
                </div>
            </fieldset>
            <div class="form-group" id="SMD_off">
                <label>Test:</label>
                <input type="text" class="form-control" name="SMD_1" value="{{ session['SMD_form']['SMD_1'] if session.get('SMD_form') else '' }}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
        </form>
    </div>
    <script>
        window.onload = function(){
            check('SMD', 'SMD_off');
        }
        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }
    </script>
</body>
</html>