<!DOCTYPE html>
<html>
<head>
    <title>money.contract</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="alert" id="processing-notification" hidden>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Таблица обрабатывается
    </div>
    <div class="container">
        <form id = "myForm" method="POST">
           <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <input type="submit" class="btn btn-primary" value="Скачать шаблон" name="template">
            <a href="https://doc.starline.ru/pages/viewpage.action?pageId=661060034" class="btn btn-primary">Инструкции</a>
            <p></p>
            <fieldset>
                <legend>Автоматический поверхностный монтаж SMT</legend>
                <div class="form-group">
                    <input type="checkbox" id="SMD" name="SMD" value="1" onclick="check('SMD', 'SMD_off')"
                           {% if session.get('SMD_form')%} {% if session['SMD_form']['SMD'] or session.get('tables')%} checked="checked" {% endif %} {% endif %}>
                    <label for="SMD">Выполнять автоматический поверхностный монтаж SMT? </label>   
                </div>
            </fieldset>
        <div class="form-group" id="SMD_off">        
        <table>
            
                <tr>
                    <td style="width: 30%;"> 
                        <label>Количество компонентов на стороне Top</label>
                        <a href="#" data-toggle="tooltip" title="Заполняйте в том случае, если точно знаете эти значения. Иначе - подгружайте таблицу BOM и PAP, их можно будет подредактировать">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                        </a>
                        <br>
                        <input type="number" class="form-control" min="0" step="1" name="SMD1" id="SMD1"
                        value="{{ session['tables'][0] if session.get('tables') else '0' }}">
                        <label>Количество наименований на стороне Top</label>
                        <br>
                        <input type="number" class="form-control" min="0" step="1" name="SMD2" id="SMD2"
                        value="{{ session['tables'][1] if session.get('tables') else '0' }}">
                        <label>Количество компонентов на стороне Bot</label>
                        <br>
                        <input type="number" class="form-control" min="0" step="1" name="SMD3" id="SMD3"
                        value="{{ session['tables'][2] if session.get('tables') else '0' }}">
                        <label>Количество наименований на стороне Bot</label>
                        <br>
                        <input type="number" class="form-control" min="0" step="1" name="SMD4" id="SMD4"
                        value="{{ session['tables'][3] if session.get('tables') else '0' }}">
                        <label>Количество уникальных наименований</label>
                        <br>
                        <input type="number" class="form-control" min="0" step="1" name="SMD5" id="SMD5"
                        value="{{ session['tables'][4] if session.get('tables') else '0' }}">
                    </td>
                    <td style="width: 40%;">
                        <input type="text" class="form-control" readonly value="Итоговая стоимость 1 ПУ">
                        <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                        <br>
                        <div class="form-group">
                            <input type="checkbox" id="SMD_sim" name="SMD_sim" value="1" onclick="check('SMD', 'SMD_sim_off')"
                                {% if session.get('SMD_form')%} {% if session['SMD_form']['SMD_sim'] %} checked="checked" {% endif %} {% endif %}>
                            <label for="SMD_sim">Использовать симуляцию? </label>   
                        </div>
                        <div class="form-group" id="SMD_sim_off">
                            <label>Время по симуляции на Top сторону</label>
                            <br>
                            <input type="number" class="form-control" min="0" step="1" name="Sim_top" id="Sim_top"
                            value="{{ session['SMD_form']['Sim_top'] if session.get('SMD_form') else '0' }}">
                            <label>Время по симуляции на Bot сторону</label>
                            <br>
                            <input type="number" class="form-control" min="0" step="1" name="Sim_bot" id="Sim_bot"
                            value="{{ session['SMD_form']['Sim_bot'] if session.get('SMD_form') else '0' }}">
                        </div>
                    </td>
                    <td >
                        <div class="form-group">                        
                            <input type="text" name="money_all_f" id="money_pc_f" class="form-control" readonly> 
                            <input type="text" name="money_all_f" id="money_all_f" class="form-control" readonly> 
                        </div>
                    </td>
                </tr>
            
        </table>
        </div>
        <div class="panel-group" id="accordion_dat">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion_data" href="#collapseOne_data">
                            Данные по стоимости SMD монтажа
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_data" class="panel-collapse collapse" >
                    <div class="panel-body">
                        <div>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Сторона Primary</th>
                                            <th>Сторона Secondary</th>
                                            <th>Общее</th>
                                        </tr>
                                    </thead>
                                    <td style="width: 40%;">
                                        <div class="form-group">
                                            <input type="text" class="form-control" readonly value="Количество компонентов">
                                            <input type="text" class="form-control" readonly value="Количество наименований">
                                            <input type="text" class="form-control" readonly value="Время сборки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Стоимость сборки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Время сборки всей партии">
                                            <input type="text" class="form-control" readonly value="Стоимость сборки всей партии">
                                            <input type="text" class="form-control" readonly value="Время переналадки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Стоимость переналадки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Время переналадки всей партии">
                                            <input type="text" class="form-control" readonly value="Стоимость переналадки всей партии">
                                            <input type="text" class="form-control" readonly value="Время ремонта партии">
                                            <input type="text" class="form-control" readonly value="Стоимость ремонта партии">
                                            <input type="text" class="form-control" readonly value="Время контроля ремонта партии">
                                            <input type="text" class="form-control" readonly value="Стоимость контроля ремонта партии">                                            
                                            <br>
                                            <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                                        </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div class="form-group">                                        
                                            <input type="text" name="components_t" id="components_t" class="form-control" readonly>
                                            <input type="text" name="unics_t" id="unics_t" class="form-control" readonly>
                                            <input type="text" name="time_pc_t" id="time_pc_t" class="form-control" readonly>
                                            <input type="text" name="money_pc_t" id="money_pc_t" class="form-control" readonly>
                                            <input type="text" name="time_all_t" id="time_all_t" class="form-control" readonly>
                                            <input type="text" name="money_all_t" id="money_all_t" class="form-control" readonly>
                                            <input type="text" name="time_re_pc_t" id="time_re_pc_t" class="form-control" readonly>
                                            <input type="text" name="money_re_pc_t" id="money_re_pc_t" class="form-control" readonly>
                                            <input type="text" name="time_re_all_t" id="time_re_all_t" class="form-control" readonly>
                                            <input type="text" name="money_re_all_t" id="money_re_all_t" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <br>
                                            <input type="text" name="money_all_f_t" id="money_all_f_t" class="form-control" readonly>
                                        </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div class="form-group">                                        
                                            <input type="text" name="components_b" id="components_b" class="form-control" readonly>
                                            <input type="text" name="unics_b" id="unics_b" class="form-control" readonly>
                                            <input type="text" name="time_pc_b" id="time_pc_b" class="form-control" readonly>
                                            <input type="text" name="money_pc_b" id="money_pc_b" class="form-control" readonly>
                                            <input type="text" name="time_all_b" id="time_all_b" class="form-control" readonly>
                                            <input type="text" name="money_all_b" id="money_all_b" class="form-control" readonly>
                                            <input type="text" name="time_re_pc_b" id="time_re_pc_b" class="form-control" readonly>
                                            <input type="text" name="money_re_pc_b" id="money_re_pc_b" class="form-control" readonly>
                                            <input type="text" name="time_re_all_b" id="time_re_all_b" class="form-control" readonly>
                                            <input type="text" name="money_re_all_b" id="money_re_all_b" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <input type="text" class="form-control" readonly>
                                            <br>
                                            <input type="text" name="money_all_f_b" id="money_all_f_b" class="form-control" readonly>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" name="components" id="components" class="form-control" readonly>
                                            <input type="text" name="unics" id="unics" class="form-control" readonly>
                                            <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                                            <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                                            <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                                            <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                                            <input type="text" name="time_re_pc" id="time_re_pc" class="form-control" readonly>
                                            <input type="text" name="money_re_pc" id="money_re_pc" class="form-control" readonly>
                                            <input type="text" name="time_re_all" id="time_re_all" class="form-control" readonly>
                                            <input type="text" name="money_re_all" id="money_re_all" class="form-control" readonly>
                                            <input type="text" name="repair_time_all" id="repair_time_all" class="form-control" readonly>
                                            <input type="text" name="repair_money_all" id="repair_money_all" class="form-control" readonly>
                                            <input type="text" name="control_time_all" id="control_time_all" class="form-control" readonly>
                                            <input type="text" name="control_money_all" id="control_money_all" class="form-control" readonly>
                                            <br>
                                        </div>
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Данные для SMD монтажа
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" >
                    <div class="panel-body">
                        <div>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{ df.columns[0] }}</th>
                                            <th>{{ df.columns[1] }}</th>
                                        </tr>
                                    </thead>
                                    {% for row in df.iterrows(): %}
                                        <tr>
                                            {% for cell in row[1] %}
                                            <td>
                                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                    <input {% if edit == "0" %} disabled {% endif %}
                                                        type="number" min = 0 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                {% else %} <!-- Если это не второй столбец -->
                                                    {{ cell }}
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <label>Пароль:</label>
                            <input type="password" class="form-control" name="password" 
                                    onkeydown="return event.key != 'Enter';">                
                            <br>
                            <button {% if edit != "0" %} disabled {% endif %}
                                    type="submit" class="btn btn-primary" name="save" 
                                    onkeydown="return event.key != 'Enter';">Изменить</button>
                            <button {% if edit == "0" %} disabled {% endif %}
                                    type="submit" class="btn btn-primary" name="save2" 
                                    onkeydown="return event.key != 'Enter';">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                            Скорость SMD монтажа
                        </a>
                    </h4>
                </div>
                <div id="collapseOne2" class="panel-collapse collapse" >
                    <div class="panel-body">
                        <div>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{ df4.columns[0] }}</th>
                                            <th>{{ df4.columns[1] }}</th>
                                            <th>{{ df4.columns[2] }}</th>
                                        </tr>
                                    </thead>
                                    {% for row in df4.iterrows(): %}
                                    <tr>
                                        {% for cell in row[1] %}
                                        <td>
                                            <input {% if edit2 == "0" %} disabled {% endif %}
                                                type="number" min = 0 step="any" class="form-control" name="row_{{ row[0] }}_{{loop.index}}" value="{{ cell }}" />
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <label>Пароль:</label>
                            <input type="password" class="form-control" name="password2" 
                                    onkeydown="return event.key != 'Enter';">                
                            <br>
                            <button {% if edit2 != "0" %} disabled {% endif %}
                                    type="submit" class="btn btn-primary" name="save3" 
                                    onkeydown="return event.key != 'Enter';">Изменить</button>
                            <button {% if edit2 == "0" %} disabled {% endif %}
                                    type="submit" class="btn btn-primary" name="save4" 
                                    onkeydown="return event.key != 'Enter';">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

            <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
                <label for="uploadForm" class="form-label">Загрузите файл PAP и EBOM</label>
                <input type="file" class="form-control-file" name="csv_file" accept=".xls"
                value="" onchange="submitForm()">
            </form>
    </div>

    <script>
        ids = ["SMD", "SMD1", "SMD2", "SMD3","SMD4", "SMD5", "SMD_sim", "Sim_top", "Sim_bot"];
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });

        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                check_all('SMD', 'SMD_off');
                check_all('SMD_sim', 'SMD_sim_off');
            });
        }
        window.onload = function(){
            check_all('SMD', 'SMD_off');
            check_all('SMD_sim', 'SMD_sim_off');
        }
        function check_all(master, slave){
            check(master, slave);
            SMD_amount();
        }
        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }
        
        function submitForm() {
            var notification = document.getElementById("processing-notification");
            notification.style.display = "block";
            document.getElementById("uploadForm").submit();
        }

        SMD1 =  document.getElementById('SMD1');
        SMD2 =  document.getElementById('SMD2');
        SMD3 =  document.getElementById('SMD3');
        SMD4 =  document.getElementById('SMD4');
        SMD5 =  document.getElementById('SMD5');
        SMD_top =  document.getElementById('Sim_top');
        SMD_bot =  document.getElementById('Sim_bot');
        var chckbx = document.getElementById('SMD');
        var chckbx2 = document.getElementById('SMD_sim');
        function SMD_amount(){
            var batch = parseInt({{ session['home_form']['field3']}});
            lines = [SMD1.value, SMD2.value, SMD3.value, SMD4.value, SMD5.value,]
            var multi_num = parseInt({{ session['second_form']['multi_num']}});
            var pc = parseInt({{ session['second_form']['pc']}});
            var width = parseFloat({{session['second_form']['width']}})
            var length = parseFloat({{session['second_form']['length']}})
            var width_AOI = parseFloat({{df['Значение'][10]}});
            var length_AOI = parseFloat({{df['Значение'][9]}});
            var AOI_time_add = parseFloat({{df['Значение'][11]}});
            var time_multi = 0;
            var sides = 0;
            var prev = parseInt({{ session['second_form']['prev']}});
            let time_all = 0;
            let money_all = 0;
            let money_pc = 0;
            let time_pc = 0;
            if (chckbx.checked && (lines != 0)){
                Top = lines[0];
                Top_u = lines[1];
                Bot = lines[2];
                Bot_u = lines[3];
                if (Top != 0){
                    sides++;
                }
                if (Bot != 0){
                    sides++;
                }

                let repair = 0;
                if (prev == 1){
                    repair = parseFloat({{df["Значение"][5]}}) * batch;
                } else if (prev == 2){
                    repair = parseFloat({{df["Значение"][4]}}) * batch;
                }
                repair_time_all = Math.ceil(repair * parseFloat({{df["Значение"][6]}}) / 100 / 3600);
                repair_time_pc = Math.ceil(repair_time_all / batch * 3600);
                repair_money_all = Math.ceil(repair_time_all * parseInt({{ df2['Стоимость, руб/ч'][8]}}) );
                repair_time_pc = Math.ceil(repair_money_all / batch);

                control_time_all = Math.ceil(repair * parseFloat({{df["Значение"][7]}}) / 100 / 3600);
                control_time_pc = Math.ceil(control_time_all / batch * 3600);
                control_money_all = Math.ceil(control_time_all * parseInt({{ df2['Стоимость, руб/ч'][21]}}) );
                control_time_pc = Math.ceil(control_money_all / batch);
                const components = (Top + Bot) * batch;
                const components_t = Top * batch;
                const components_b = Bot * batch;
                const unics = lines[4];
                const unics_t = Top_u;
                const unics_b = Bot_u;
                const speed_t = speed_amount(components_t);
                const speed_b = speed_amount(components_b);
                const time_AOI = parseFloat((width * length / (width_AOI * length_AOI) + 10) * multi_num / 3600);
                var prod_t = 0;
                var prod_b = 0;

                if (unics_t != 0){
                    var start_t = Math.max(unics_t * parseFloat({{df['Значение'][2]}}) + parseFloat({{df['Значение'][3]}}), parseFloat({{df['Значение'][1]}})) /3600;
                    prod_t = Math.ceil(components_t / speed_t);
                } else {
                    var start_t = 0;
                    prod_t = 0;
                }
                if (unics_b != 0){
                    var start_b = Math.max(unics_b * parseFloat({{df['Значение'][2]}}) + parseFloat({{df['Значение'][3]}}), parseFloat({{df['Значение'][1]}})) /3600;
                    prod_b = Math.ceil(components_b / speed_b);
                } else{
                    var start_b = 0;
                    prod_b = 0;
                }
                if (unics_t != 0){
                    if (prod_t < multi_num * parseFloat({{df['Значение'][8]}}) / 3600){
                        prod_t = multi_num * parseFloat({{df['Значение'][8]}})/ 3600
                    }
                }
                
                if (unics_b != 0){
                    if (prod_b < multi_num * parseFloat({{df['Значение'][8]}}) / 3600){
                        prod_b = multi_num * parseFloat({{df['Значение'][8]}}) / 3600
                    }
                }
                var start = start_t + start_b;
                if (chckbx2.checked){
                    prod_b = parseFloat(SMD_bot.value * multi_num /3600);
                    prod_t = SMD_top.value * multi_num/3600;
                }
                if (time_AOI > prod_b && prod_b != 0){
                    prod_b = time_AOI;
                }
                if (time_AOI > prod_t && prod_t != 0){
                    prod_t = time_AOI;
                }
                var prod = prod_b+prod_t;
                time_all = Math.ceil((prod)*parseFloat({{df['Значение'][0]}}));
                time_all_t = Math.ceil((prod_t)*parseFloat({{df['Значение'][0]}}));
                time_all_b = Math.ceil((prod_b)*parseFloat({{df['Значение'][0]}}));

                time_re_all = Math.ceil((start)*parseFloat({{df['Значение'][0]}}));
                time_re_all_t = Math.ceil((start_t)*parseFloat({{df['Значение'][0]}}));
                time_re_all_b = Math.ceil((start_b)*parseFloat({{df['Значение'][0]}}));

                time_pc = Math.ceil(time_all / batch * 3600);
                time_pc_t = Math.ceil(time_all_t / batch * 3600);
                time_pc_b = Math.ceil(time_all_b / batch * 3600);

                time_re_pc = Math.ceil(time_re_all / batch * 3600);
                time_re_pc_t = Math.ceil(time_re_all_t / batch * 3600);
                time_re_pc_b = Math.ceil(time_re_all_b / batch * 3600); 

                money_all = Math.ceil(time_all * parseInt({{ df2['Стоимость, руб/ч'][0]}}));
                money_all_t = Math.ceil(time_all_t * parseInt({{ df2['Стоимость, руб/ч'][0]}}));
                money_all_b = Math.ceil(time_all_b * parseInt({{ df2['Стоимость, руб/ч'][0]}}));

                money_re_all = Math.ceil(time_re_all * parseInt({{ df2['Стоимость, руб/ч'][1]}}));
                money_re_all_t = Math.ceil(time_re_all_t * parseInt({{ df2['Стоимость, руб/ч'][1]}}));
                money_re_all_b = Math.ceil(time_re_all_b * parseInt({{ df2['Стоимость, руб/ч'][1]}}));

                money_pc = Math.ceil(money_all / batch);
                money_pc_t = Math.ceil(money_all_t / batch);
                money_pc_b = Math.ceil(money_all_b / batch);

                money_re_pc = Math.ceil(money_re_all / batch);
                money_re_pc_t = Math.ceil(money_re_all_t / batch);
                money_re_pc_b = Math.ceil(money_re_all_b / batch);

                document.getElementById('components').value = components + " шт";
                document.getElementById('components_t').value = Top + " шт";
                document.getElementById('components_b').value = Bot + " шт";

                document.getElementById('unics').value = unics + " шт";
                document.getElementById('unics_t').value = unics_t + " шт";
                document.getElementById('unics_b').value = unics_b + " шт";
                
                document.getElementById('time_pc').value = time_pc + " c";
                document.getElementById('time_all').value = time_all + " ч";
                document.getElementById('money_pc').value = money_pc + " руб";
                document.getElementById('money_all').value = money_all + " руб";

                document.getElementById('time_re_pc').value = time_re_pc + " c";
                document.getElementById('time_re_all').value = time_re_all + " ч";
                document.getElementById('money_re_pc').value = money_re_pc + " руб";
                document.getElementById('money_re_all').value = money_re_all + " руб";
                
                document.getElementById('time_re_pc_t').value = time_re_pc_t + " c";
                document.getElementById('time_re_all_t').value = time_re_all_t + " ч";
                document.getElementById('money_re_pc_t').value = money_re_pc_t + " руб";
                document.getElementById('money_re_all_t').value = money_re_all_t + " руб";
                
                document.getElementById('time_re_pc_b').value = time_re_pc_b + " c";
                document.getElementById('time_re_all_b').value = time_re_all_b + " ч";
                document.getElementById('money_re_pc_b').value = money_re_pc_b + " руб";
                document.getElementById('money_re_all_b').value = money_re_all_b + " руб";

                document.getElementById('time_pc_t').value = time_pc_t + " c";
                document.getElementById('time_all_t').value = time_all_t + " ч";
                document.getElementById('money_pc_t').value = money_pc_t + " руб";
                document.getElementById('money_all_t').value = money_all_t + " руб";

                document.getElementById('time_pc_b').value = time_pc_b + " c";
                document.getElementById('time_all_b').value = time_all_b + " ч";
                document.getElementById('money_pc_b').value = money_pc_b + " руб";
                document.getElementById('money_all_b').value = money_all_b + " руб";

                document.getElementById('repair_time_all').value = repair_time_all + " ч";
                document.getElementById('repair_money_all').value = repair_money_all + " руб";

                document.getElementById('control_time_all').value = control_time_all + " ч";
                document.getElementById('control_money_all').value = control_money_all + " руб";
                
                document.getElementById("money_all_f_t").value = (money_all_t + money_re_all_t) + " руб";
                document.getElementById("money_all_f_b").value = (money_all_b + money_re_all_b) + " руб";
                money_all_f = money_all + money_re_all + repair_money_all + control_money_all;
                money_pc_f = Math.ceil(money_all_f/batch)
                document.getElementById("money_pc_f").value = money_pc_f + " руб";
                document.getElementById("money_all_f").value = money_all_f + " руб";

            } else {
                document.getElementById('components').value = '-';
                document.getElementById('components_t').value = '-';
                document.getElementById('components_b').value = '-';

                document.getElementById('unics').value = '-';
                document.getElementById('unics_t').value = '-';
                document.getElementById('unics_b').value = '-';

                document.getElementById('time_pc').value = '-';
                document.getElementById('time_all').value = '-';
                document.getElementById('money_pc').value = '-';
                document.getElementById('money_all').value = '-';

                document.getElementById('time_re_pc').value = '-';
                document.getElementById('time_re_all').value = '-';
                document.getElementById('money_re_pc').value = '-';
                document.getElementById('money_re_all').value = '-';

                document.getElementById('time_re_pc_t').value = '-';
                document.getElementById('time_re_all_t').value = '-';
                document.getElementById('money_re_pc_t').value = '-';
                document.getElementById('money_re_all_t').value = '-';
                
                document.getElementById('time_re_pc_b').value = '-';
                document.getElementById('time_re_all_b').value = '-';
                document.getElementById('money_re_pc_b').value = '-';
                document.getElementById('money_re_all_b').value = '-';

                document.getElementById('time_pc_t').value = '-';
                document.getElementById('time_all_t').value = '-';
                document.getElementById('money_pc_t').value = '-';
                document.getElementById('money_all_t').value = '-';

                document.getElementById('time_pc_b').value = '-';
                document.getElementById('time_all_b').value = '-';
                document.getElementById('money_pc_b').value = '-';
                document.getElementById('money_all_b').value = '-';

                document.getElementById("money_all_f_t").value = '-';
                document.getElementById("money_all_f_b").value ='-';
                document.getElementById("money_all_f").value = '-';
                document.getElementById("money_pc_f").value = '-';

                document.getElementById('repair_time_all').value = '-';
                document.getElementById('repair_money_all').value = '-';

                document.getElementById('control_time_all').value = '-';
                document.getElementById('control_money_all').value = '-';
            }
        }

        function speed_amount(batch){
            var df = {{df3 | safe}};
            for (var i = 0; i <=9; i++){
                if ((batch <= parseInt(df[i][1])) &&
                (batch => parseInt(df[i][0]))){
                    return parseInt(df[i][2]);
                }
            }
        }
    </script>
</body>
</html>