<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <fieldset>
                <legend>Тестирование</legend>
                <div class="form-group">
                    <input type="checkbox" id="Test" name="Test" value="1" 
                           {% if session.get('Test_form')%} {% if session['Test_form']['Test'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Test">Выполнять тестирование? </label>
                </div>
            </fieldset>
            <table>
                <tr>
                    <td style="width: 50%;">
                        <div class="form-group" id="Test_off">
                            <div class="form-group">
                                <input type="checkbox" id="firmware_m" name="firmware_m" value="1" 
                                    {% if session.get('Test_form')%} {% if session['Test_form']['firmware_m'] %} checked="checked" {% endif %} {% endif %}>
                                <label for="firmware_m">Выполнять прошивку микросхем? </label>
                                <div class="form-group" id="firmware_m_off">
                                    <table id="myTable">
                                        <thead>
                                            <tr>
                                                <th>Описание</th>
                                                <th>Время, с</th>
                                                <th>Количество, с</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" name="title_0" id="title_0" 
                                                    value="{{ session['Test_form']['title_0'] if session.get('Test_form') else '' }}"></td>
                                                <td><input type="number" class="form-control" name="time_0" id="time_0"
                                                    value="{{ session['Test_form']['time_0'] if session.get('Test_form') else '' }}"></td>
                                                <td><input type="number" class="form-control" name="num_0"  id="num_0"
                                                    value="{{ session['Test_form']['num_0'] if session.get('Test_form') else '' }}"></td>
                                            </tr>
                                            {%if session.get('Test_form')%}
                                                {%for i in range(1, session['Test_form']['rows']|int )%}
                                                <tr>
                                                    <td><input type="text" class="form-control" name="title_{{i}}" id="title_{{i}}" 
                                                        value="{{session['Test_form']['title_'+i|string]}}"></td>
                                                    <td><input type="number" min="1" class="form-control" name="time_{{i}}" id="time_{{i}}"
                                                        value="{{session['Test_form']['time_' +i|string]}}"></td>
                                                    <td><input type="number" min="1" class="form-control" name="num_{{i}}" id="num_{{i}}"
                                                        value="{{session['Test_form']['num_' +i|string]}}"></td>
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-primary" onclick="addRow()">Добавить микросхему</button>
                                    <button type="button" class="btn btn-primary" onclick="deleteRow()">Удалить микросхему</button>
                                    <br>
                                    <label>Количество разных микросхем</label>
                                    <input type="text" name="rows" id="rows" class="form-control" readonly>
                                </div>
                                <input type="checkbox" id="firmware" name="firmware" value="1" 
                                        {% if session.get('Test_form')%} {% if session['Test_form']['firmware'] %} checked="checked" {% endif %} {% endif %}>
                                <label for="firmware">Выполнять прошивку? </label>
                                <div class="form-group" id="firmware_off">
                                    <label>Время на прошивку одного ПУ, с</label>
                                    <input type="number" min="1" step="1" class="form-control" name="firmware_time" id="firmware_time"
                                        value="{{ session['Test_form']['firmware_time'] if session.get('Test_form') else '' }}"></input>
                                    <label>Количество ПУ в прошивке одновременно</label>
                                    <input type="number" min="1" step="1" class="form-control" name="firmware_num" id="firmware_num"
                                        value="{{ session['Test_form']['firmware_num'] if session.get('Test_form') else '' }}"></input>
                                </div>
                                <input type="checkbox" id="testing" name="testing" value="1" 
                                        {% if session.get('Test_form')%} {% if session['Test_form']['testing'] %} checked="checked" {% endif %} {% endif %}>
                                <label for="testing">Выполнять тестирование? </label>    
                                <div class="form-group" id="testing_off">
                                    <label>Какая часть от партии тестируется в %</label>
                                    <input type="number" min="1" step="1" max="100" class="form-control" name="testing_proc" id="testing_proc"
                                        value="{{ session['Test_form']['testing_proc'] if session.get('Test_form') else '' }}"></input>
                                    <label>Время на тестирование одного ПУ, с</label>
                                    <input type="number" min="1" step="1" class="form-control" name="testing_time" id="testing_time"
                                        value="{{ session['Test_form']['testing_time'] if session.get('Test_form') else '' }}"></input>
                                    <label>Количество ПУ в тестировании одновременно</label>
                                    <input type="number" min="1" step="1" class="form-control" name="testing_num" id="testing_num"
                                        value="{{ session['Test_form']['testing_num'] if session.get('Test_form') else '' }}"></input>
                                </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Количество ПУ в партии</label>
                            <input type="text" name="PCB" id="PCB" class="form-control" readonly>
                            <label>Всего времени потрачено на партию</label>
                            <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                            <label>Всего времени потрачено на ПУ</label>
                            <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                            <label>Стоимость партии</label>
                            <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                            <label>Стоимость ПУ</label>
                            <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                    </td>
                </tr>
            </table>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Данные для тестирования
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>{{ df.columns[0] }}</th>
                                                <th>{{ df.columns[1] }}</th>
                                            </tr>
                                        </thead>
                                        {% for row in df.iterrows(): %}
                                        <tr>
                                            {% for cell in row[1] %}
                                            <td>
                                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                    <input {% if edit == "0" %} disabled {% endif %}
                                                        type="number" min = 1 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                {% else %} <!-- Если это не второй столбец -->
                                                    {{ cell }}
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <label>Пароль:</label>
                                <input type="password" class="form-control" name="password" 
                                        onkeydown="return event.key != 'Enter';">                
                                <br>
                                <button {% if edit != "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save" 
                                        onkeydown="return event.key != 'Enter';">Изменить</button>
                                <button {% if edit == "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save2" 
                                        onkeydown="return event.key != 'Enter';">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </form>
    </div>
    <script>
        ids = ["Test", "firmware", "firmware_m", "testing", "firmware_time", "firmware_num", 'testing_time', 'testing_num', 'testing_proc']

        window.onload = function(){
            check_all();
        };

        function check_all(){
            check('Test', 'Test_off');
            check('firmware', 'firmware_off');
            check('firmware_m', 'firmware_m_off');
            check('testing', 'testing_off');
            test_amount();
            updateRowCount();
        };

        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                check_all();
            });
        };

        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        };

        var chckbx = document.getElementById('Test');
        var chckbx_fm = document.getElementById('firmware_m'); //firmware_m
        var chckbx_f = document.getElementById('firmware'); //firmware
        var chckbx_t = document.getElementById('testing'); //testing

        function test_amount(){
            var batch = parseInt({{ session['home_form']['field3']}});
            var multi_num = parseInt({{ session['second_form']['multi_num']}});
            var pc = parseInt({{ session['second_form']['pc']}});
            var time_multi = 0;
            var time_all = 0;
            var time_pc = 0;
            var money_all = 0;
            var money_pc = 0;
            if (chckbx.checked){
                document.getElementById('PCB').value = batch + " шт";
                if (chckbx_f.checked){
                    time_pc += firmware_amount();
                }
                if (chckbx_t.checked){
                    time_pc += testing_amount();
                }
                if (chckbx_fm.checked){
                    time_pc += firmware_m_amount();
                }
                time_all = Math.ceil(time_pc * batch / 3600);
                money_all = Math.ceil(time_all * parseFloat({{df2['Стоимость, руб/ч'][10]}}));
                money_pc = Math.ceil(money_all / batch);
                document.getElementById('time_pc').value = time_pc + " c";
                document.getElementById('time_all').value = time_all + " ч";
                document.getElementById('money_pc').value = money_pc + " руб";
                document.getElementById('money_all').value = money_all + " руб";

            } else {
                document.getElementById('PCB').value = '-';
                document.getElementById('time_pc').value = '-';
                document.getElementById('time_all').value = '-';
                document.getElementById('money_pc').value = '-';
                document.getElementById('money_all').value = '-';

            }
        };

        function firmware_amount(){
            return Math.ceil(document.getElementById('firmware_time').value / document.getElementById('firmware_num').value *
            parseFloat({{df['Значение'][2]}})); 
        };

        function testing_amount(){
            return Math.ceil(document.getElementById('testing_time').value / document.getElementById('testing_num').value *
            document.getElementById('testing_proc').value / 100 * parseFloat({{df['Значение'][3]}})); 
        };

        function firmware_m_amount(){
            sum = 0;
            rows = parseInt(document.getElementById('rows').value);
            for (let i = 0; i < rows; i++){
                var time = 'time_' + i;
                time = parseInt(document.getElementById(time).value);
                console.log("Время " + time);
                var num = 'num_' + i;
                num = parseInt(document.getElementById(num).value);
                console.log("Количество " + num);
                sum = Math.ceil(sum + time * num / 8);
                console.log("Сумма " + sum);
            }
            return sum; 
        };

        function addRow() {
            var table = document.getElementById("myTable");
            var newRow = table.insertRow(table.rows.length);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var rowNumber = table.rows.length - 2;
            cell1.innerHTML = '<input type="text" class="form-control" name="title_' + rowNumber + '" id="title_' + rowNumber + '">';
            cell2.innerHTML = '<input type="number" min="1" class="form-control" id="time_' + rowNumber + '" name="time_' + rowNumber + '">';
            cell3.innerHTML = '<input type="number" min="1" class="form-control" id="num_' + rowNumber + '" name="num_' + rowNumber + '">';
            updateRowCount();
        }

        function updateRowCount() {
            var table = document.getElementById("myTable");
            var rowCount = table.rows.length;
    
            document.getElementById("rows").value = rowCount - 1;
        }

        function deleteRow() {
            var table = document.getElementById("myTable");
            var lastRow = table.rows.length - 1;
            table.deleteRow(lastRow);
            updateRowCount();
        }
    </script>
</body>
</html>