<!DOCTYPE html>
<html>
<head>
    <title>money.contract</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <fieldset>
                <legend>Селективная пайка THT</legend>
                <div class="form-group">
                    <input type="checkbox" id="THT" name="THT" value="1" onclick="check('THT', 'THT_off')"
                           {% if session.get('THT_form')%} {% if session['THT_form']['THT'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="THT">Выполнять cелективную пайку THT? </label>
                </div>
            </fieldset>
            <table>
                <tr>
                    <td style="width: 40%;">
                        <div class="form-group" id="THT_off">
                            <label>Выберите количество сторон для селектиной пайки</label>
                            <br>
                            <label>
                                <input type="radio" name="THT_sides" value="1" id="THT_sides_1"
                                    {% if session.get('THT_form')%} {% if session['THT_form']['THT_sides'] == "1" %} checked {% endif %} {% endif %}>
                                Односторонняя
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="THT_sides" id="THT_sides_2"
                                    {% if session.get('THT_form')%} {% if session['THT_form']['THT_sides'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Двустронняя
                            </label>
                            <br>
                            <label>Выберите способ рассчёта времени на первую сторону селективной пайки</label>
                            <br>
                            <label>
                                <input type="radio" name="THT_type" id="manual"
                                    {% if session.get('THT_form')%} {% if session['THT_form']['THT_type'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Ручной ввод
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="THT_type" id="sim"
                                    {% if session.get('THT_form')%} {% if session['THT_form']['THT_type'] == "3" %} checked {% endif %} {% endif %} value="3">
                                Данные симуляции
                            </label>
                            <div class="form-group" id="manual_input" style="display:none">
                                <label>Количество компонентов до 10 рядов точек пайки (за один проход):</label>
                                <input type="number" class="form-control" name="points" id="points" min="0" step="1"
                                    value="{{ session['THT_form']['points'] if session.get('THT_form') else '0' }}"></input>
                                <label>Количество компонентов более 10 рядов точек пайки (за один проход)</label>
                                <input type="number" class="form-control" name="points_2" id="points_2" min="0" step="1"
                                    value="{{ session['THT_form']['points_2'] if session.get('THT_form') else '0' }}"></input>
                                <label>Количество DDR-разъёмов на первой стороне:</label>
                                <input type="number" class="form-control" name="DDR" id="DDR" min="0" step="1"
                                    value="{{ session['THT_form']['DDR'] if session.get('THT_form') else '0' }}"></input>
                                <label>Количество PCI-разъёмов на первой стороне:</label>
                                <input type="number" class="form-control" name="PCI" id="PCI" min="0" step="1"
                                    value="{{ session['THT_form']['PCI'] if session.get('THT_form') else '0' }}"></input>
                            </div>
                            <div class="form-group" id="sim_input" style="display:none">
                                <label>Время на пайку мультизаготовки на первой стороне, с</label>
                                <input type="number" class="form-control" name="sim_multi" id="sim_multi" min="0" step="1"
                                    value="{{ session['THT_form']['sim_multi'] if session.get('THT_form') else '0' }}"></input>
                            </div>
                            <div class="form-group" id="second" style="display:none">
                                <label>Выберите способ рассчёта времени на вторую сторону селективной пайки</label>
                                <br>
                                <label>
                                    <input type="radio" name="THT_type2" id="manual2"
                                        {% if session.get('THT_form')%} {% if session['THT_form']['THT_type'] == "2" %} checked {% endif %} {% endif %} value="2">
                                    Ручной ввод
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="THT_type2" id="sim2"
                                        {% if session.get('THT_form')%} {% if session['THT_form']['THT_type'] == "3" %} checked {% endif %} {% endif %} value="3">
                                    Данные симуляции
                                </label>
                                <div class="form-group" id="manual_input2" style="display:none">
                                    <label>Количество компонентов до 10 рядов точек пайки (за один проход) на второй стороне:</label>
                                    <input type="number" class="form-control" name="points2" id="points2" min="0" step="1"
                                        value="{{ session['THT_form']['points2'] if session.get('THT_form') else '0' }}"></input>
                                    <label>Количество компонентов более 10 рядов точек пайки (за один проход) на второй стороне:</label>
                                    <input type="number" class="form-control" name="points2_2" id="points2_2" min="0" step="1"
                                        value="{{ session['THT_form']['points2_2'] if session.get('THT_form') else '0' }}"></input>
                                    <label>Количество DDR-разъёмов на второй стороне:</label>
                                    <input type="number" class="form-control" name="DDR2" id="DDR2" min="0" step="1"
                                        value="{{ session['THT_form']['DDR2'] if session.get('THT_form') else '0' }}"></input>
                                    <label>Количество PCI-разъёмов на второй стороне:</label>
                                    <input type="number" class="form-control" name="PCI2" id="PCI2" min="0" step="1"
                                        value="{{ session['THT_form']['PCI2'] if session.get('THT_form') else '0' }}"></input>
                                </div>
                                <div class="form-group" id="sim_input2" style="display:none">
                                    <label>Время на пайку мультизаготовки на второй стороне, с</label>
                                    <input type="number" class="form-control" name="sim_multi2" id="sim_multi2" min="0" step="1"
                                        value="{{ session['THT_form']['sim_multi2'] if session.get('THT_form') else '0' }}"></input>
                                </div>
                            </div>
                            <br>
                        </div>
                    </td>
                    <td style="width: 30%;">
                        <div class="form-group">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость 1 ПУ">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="money_pc_f" id="money_pc_f" class="form-control" readonly> 
                            <input type="text" name="money_all_f" id="money_all_f" class="form-control" readonly> 
                        </div>
                    </td>
                </tr>
            </table> 
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Данные по стоимости селективной пайки
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Сторона Primary</th>
                                                <th>Сторона Secondary</th>
                                                <th>ПУ</th>
                                            </tr>
                                        </thead>
                                        <td style="width: 40%;">
                                            <div class="form-group">
                                            <input type="text" class="form-control" readonly value="Время сборки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Стоимость сборки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Время сборки всей партии">
                                            <input type="text" class="form-control" readonly value="Стоимость сборки всей партии">
                                            <input type="text" class="form-control" readonly value="Время переналадки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Стоимость переналадки 1 ПУ">
                                            <input type="text" class="form-control" readonly value="Время переналадки всей партии">
                                            <input type="text" class="form-control" readonly value="Стоимость переналадки всей партии">
                                            <input type="text" class="form-control" readonly value="Время ремонта партии">
                                            <input type="text" class="form-control" readonly value="Стоимость ремонта партии">
                                            <input type="text" class="form-control" readonly value="Время контроля ремонта партии">
                                            <input type="text" class="form-control" readonly value="Стоимость контроля ремонта партии">
                                            </div>
                                        </td>
                                        <td style="width: 20%;">
                                            <div class="form-group">
                                            <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                                            <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                                            <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                                            <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                                            <input type="text" name="time_re_pc" id="time_re_pc" class="form-control" readonly>
                                            <input type="text" name="money_re_pc" id="money_re_pc" class="form-control" readonly>
                                            <input type="text" name="time_re_all" id="time_re_all" class="form-control" readonly>
                                            <input type="text" name="money_re_all" id="money_re_all" class="form-control" readonly>
                                            </div>
                                        </td>
                                        <td style="width: 20%;">
                                            <div class="form-group">
                                            <input type="text" name="time_pc2" id="time_pc2" class="form-control" readonly>
                                            <input type="text" name="money_pc2" id="money_pc2" class="form-control" readonly>
                                            <input type="text" name="time_all2" id="time_all2" class="form-control" readonly>
                                            <input type="text" name="money_all2" id="money_all2" class="form-control" readonly>
                                            <input type="text" name="time_re_pc2" id="time_re_pc2" class="form-control" readonly>
                                            <input type="text" name="money_re_pc2" id="money_re_pc2" class="form-control" readonly>
                                            <input type="text" name="time_re_all2" id="time_re_all2" class="form-control" readonly>
                                            <input type="text" name="money_re_all2" id="money_re_all2" class="form-control" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                            <input type="text" name="time_pc3" id="time_pc3" class="form-control" readonly>
                                            <input type="text" name="money_pc3" id="money_pc3" class="form-control" readonly>
                                            <input type="text" name="time_all3" id="time_all3" class="form-control" readonly>
                                            <input type="text" name="money_all3" id="money_all3" class="form-control" readonly>
                                            <input type="text" name="time_re_pc3" id="time_re_pc3" class="form-control" readonly>
                                            <input type="text" name="money_re_pc3" id="money_re_pc3" class="form-control" readonly>
                                            <input type="text" name="time_re_all3" id="time_re_all3" class="form-control" readonly>
                                            <input type="text" name="money_re_all3" id="money_re_all3" class="form-control" readonly>
                                            <input type="text" name="repair_time_all" id="repair_time_all" class="form-control" readonly>
                                            <input type="text" name="repair_money_all" id="repair_money_all" class="form-control" readonly>
                                            <input type="text" name="control_time_all" id="control_time_all" class="form-control" readonly>
                                            <input type="text" name="control_money_all" id="control_money_all" class="form-control" readonly>
                                            </div>
                                        </td>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                Данные для селективной пайки
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne2" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>{{ df.columns[0] }}</th>
                                                <th>{{ df.columns[1] }}</th>
                                            </tr>
                                        </thead>
                                        {% for row in df.iterrows(): %}
                                        <tr>
                                            {% for cell in row[1] %}
                                            <td>
                                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                    <input {% if edit == "0" %} disabled {% endif %}
                                                        type="number" min = 0 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                {% else %} <!-- Если это не второй столбец -->
                                                    {{ cell }}
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <label>Пароль:</label>
                                <input type="password" class="form-control" name="password" 
                                        onkeydown="return event.key != 'Enter';">                
                                <br>
                                <button {% if edit != "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save" 
                                        onkeydown="return event.key != 'Enter';">Изменить</button>
                                <button {% if edit == "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save2" 
                                        onkeydown="return event.key != 'Enter';">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
    <script>
         window.onload = function(){
            check_all('THT', 'THT_off');
        }
        ids = ["THT", "manual", "sim", "THT_sides_1", "THT_sides_2", "manual2", "sim2", "sim_multi", "points", "points_2", "points2_2", "DDR", "PCI", "sim_multi2", "points2", "DDR2", "PCI2"];

        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                check_all('THT', 'THT_off');
            });
        }
        function check_all(master, slave){
            check(master, slave);
            checkOption('manual', 'manual_input');
            checkOption('sim', 'sim_input');
            checkOption('manual2', 'manual_input2');
            checkOption('sim2', 'sim_input2');
            checkOption('THT_sides_2', 'second');
            THT_amount();
        }
        function checkOption(optionId, fieldId) {
            var radioOption1 = document.getElementById(optionId);
            var extraField = document.getElementById(fieldId);

            if(radioOption1.checked) {
                extraField.style.display = 'block';
            } else {
                extraField.style.display = 'none';
            }
        }
        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }
        var chckbx = document.getElementById('THT');
        const THT_type = document.getElementsByName('THT_type')
        const THT_type2 = document.getElementsByName('THT_type2')
        const THT_sides = document.getElementsByName('THT_sides');

        function THT_amount(){
            var batch = parseInt({{ session['home_form']['field3']}});
            var multi_num = parseInt({{ session['second_form']['multi_num']}});
            var pc = parseInt({{ session['second_form']['pc']}});
            var time_multi = 0;
            var time_multi2 = 0;
            var sides = 1;
            var prev = parseInt({{ session['second_form']['prev']}});
            if (prev == 1){
                prev = 1 - parseFloat({{ df['Значение'][6] }});
            } else if (prev == 2){
                prev = 1;
            }
            if (THT_sides[1].checked){ 
                sides = 2;
            }
            if (THT_type[0].checked){
                time_multi =  Math.ceil(document.getElementById('DDR').value * parseFloat({{df['Значение'][1]}}) + 
                            document.getElementById('PCI').value * parseFloat({{df['Значение'][2]}}) + 
                            document.getElementById('points').value * parseFloat({{df['Значение'][5]}}) + 
                            document.getElementById('points_2').value * parseFloat({{df['Значение'][11]}}));
            } else if (THT_type[1].checked){
                time_multi = parseFloat(document.getElementById('sim_multi').value);
            }
            if (sides == 2){
                if (THT_type2[0].checked){
                time_multi2 +=  Math.ceil(document.getElementById('DDR2').value * parseFloat({{df['Значение'][1]}}) + 
                            document.getElementById('PCI2').value * parseFloat({{df['Значение'][2]}}) + 
                            document.getElementById('points2').value * parseFloat({{df['Значение'][5]}})+ 
                            document.getElementById('points2_2').value * parseFloat({{df['Значение'][11]}}));
            } else if (THT_type2[1].checked){
                time_multi2 += parseFloat(document.getElementById('sim_multi2').value);
                }
            }

            let repair = 0;
                if (prev == 1){
                    repair = parseFloat({{df["Значение"][8]}}) * batch;
                } else if (prev == 2){
                    repair = parseFloat({{df["Значение"][7]}}) * batch;
                }
            repair_time_all = Math.ceil(repair * parseFloat({{df["Значение"][9]}}) / 100 / 3600);
            repair_time_pc = Math.ceil(repair_time_all / batch * 3600);
            repair_money_all = Math.ceil(repair_time_all * parseInt({{ df2['Стоимость, руб/ч'][8]}}) );
            repair_time_pc = Math.ceil(repair_money_all / batch);

            control_time_all = Math.ceil(repair * parseFloat({{df["Значение"][10]}}) / 100 / 3600);
            control_time_pc = Math.ceil(control_time_all / batch * 3600);
            control_money_all = Math.ceil(control_time_all * parseInt({{ df2['Стоимость, руб/ч'][21]}}) );
            control_time_pc = Math.ceil(control_money_all / batch);

            time_multi += Math.ceil((parseFloat({{df['Значение'][4]}})));
            time_multi *= parseFloat({{df['Значение'][0]}});
            const start = parseFloat({{df['Значение'][3]}}) * prev / 3600;
            const prod = time_multi * multi_num / 3600 / 2; //2 машины
            const time_all = Math.ceil((prod));
            const time_re_all = Math.ceil((start));
            const money_all = Math.ceil(prod * parseInt({{ df2['Стоимость, руб/ч'][2]}}));
            const money_re_all = Math.ceil(start * parseInt({{ df2['Стоимость, руб/ч'][3]}}));
            const money_pc = Math.ceil(money_all / batch);
            const money_re_pc = Math.ceil(money_re_all / batch);
            const time_pc = Math.ceil(time_all / batch * 3600);
            const time_re_pc = Math.ceil(time_re_all / batch * 3600);

            let start2 = 0
            if (sides == 2){
                time_multi2 += Math.ceil((parseFloat({{df['Значение'][4]}})));                
                start2 = parseFloat({{df['Значение'][3]}}) * prev / 3600;
            }
            time_multi2 *= parseFloat({{df['Значение'][0]}});
            
            const prod2 = time_multi2 * multi_num / 3600 / 2; //2 машины
            const time_all2 = Math.ceil((prod2));
            const time_re_all2 = Math.ceil((start2));
            const money_all2 = Math.ceil(prod2 * parseInt({{ df2['Стоимость, руб/ч'][2]}}));
            const money_re_all2 = Math.ceil(start2 * parseInt({{ df2['Стоимость, руб/ч'][3]}}));
            const money_pc2 = Math.ceil(money_all2 / batch);
            const money_re_pc2 = Math.ceil(money_re_all2 / batch);
            const time_pc2 = Math.ceil(time_all2 / batch * 3600);
            const time_re_pc2 = Math.ceil(time_re_all2 / batch * 3600);

            if (chckbx.checked){
                document.getElementById('time_pc').value = time_pc + " c";
                document.getElementById('time_all').value = time_all + " ч";
                document.getElementById('money_pc').value = money_pc + " руб";
                document.getElementById('money_all').value = money_all + " руб";
                document.getElementById('time_re_pc').value = time_re_pc + " c";
                document.getElementById('time_re_all').value = time_re_all + " ч";
                document.getElementById('money_re_pc').value = money_re_pc + " руб";
                document.getElementById('money_re_all').value = money_re_all + " руб";

                document.getElementById('time_pc2').value = time_pc2 + " c";
                document.getElementById('time_all2').value = time_all2 + " ч";
                document.getElementById('money_pc2').value = money_pc2 + " руб";
                document.getElementById('money_all2').value = money_all2 + " руб";
                document.getElementById('time_re_pc2').value = time_re_pc2 + " c";
                document.getElementById('time_re_all2').value = time_re_all2 + " ч";
                document.getElementById('money_re_pc2').value = money_re_pc2 + " руб";
                document.getElementById('money_re_all2').value = money_re_all2 + " руб";

                document.getElementById('time_pc3').value = time_pc + time_pc2 + " c";
                document.getElementById('time_all3').value = time_all + time_all2 + " ч";
                document.getElementById('money_pc3').value = money_pc + money_pc2 + " руб";
                document.getElementById('money_all3').value = money_all + money_all2 + " руб";
                document.getElementById('time_re_pc3').value = time_re_pc + time_re_pc2 + " c";
                document.getElementById('time_re_all3').value = time_re_all + time_re_all2 + " ч";
                document.getElementById('money_re_pc3').value = money_re_pc + money_re_pc + " руб";
                document.getElementById('money_re_all3').value = money_re_all + money_re_all2 + " руб";

                document.getElementById('repair_time_all').value = repair_time_all + " ч";
                document.getElementById('repair_money_all').value = repair_money_all + " руб";

                document.getElementById('control_time_all').value = control_time_all + " ч";
                document.getElementById('control_money_all').value = control_money_all + " руб";

                money_all_f = money_all + money_re_all + money_all2 + money_re_all2 + repair_money_all + control_money_all;
                money_pc_f = Math.ceil(money_all_f / batch);
                document.getElementById("money_all_f").value = money_all_f + " руб";
                document.getElementById("money_pc_f").value = money_pc_f + " руб";

            } else {
                document.getElementById('time_pc').value = '-';
                document.getElementById('time_all').value = '-';
                document.getElementById('money_pc').value = '-';
                document.getElementById('money_all').value = '-';
                document.getElementById('time_re_pc').value = '-';
                document.getElementById('time_re_all').value = '-';
                document.getElementById('money_re_pc').value = '-';
                document.getElementById('money_re_all').value = '-';

                document.getElementById('time_pc2').value = '-';
                document.getElementById('time_all2').value = '-';
                document.getElementById('money_pc2').value = '-';
                document.getElementById('money_all2').value = '-';
                document.getElementById('time_re_pc2').value = '-';
                document.getElementById('time_re_all2').value = '-';
                document.getElementById('money_re_pc2').value = '-';
                document.getElementById('money_re_all2').value = '-';
                
                document.getElementById('time_pc3').value = '-';
                document.getElementById('time_all3').value = '-';
                document.getElementById('money_pc3').value = '-';
                document.getElementById('money_all3').value = '-';
                document.getElementById('time_re_pc3').value = '-';
                document.getElementById('time_re_all3').value = '-';
                document.getElementById('money_re_pc3').value = '-';
                document.getElementById('money_re_all3').value = '-';

                document.getElementById('repair_time_all').value = '-';
                document.getElementById('repair_money_all').value = '-';

                document.getElementById('control_time_all').value = '-';
                document.getElementById('control_money_all').value = '-';

                document.getElementById("money_all_f").value = '-';
                document.getElementById("money_pc_f").value = '-';

            }
        }
    </script>
</body>
</html>