<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST">
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <fieldset>
                <legend>Волновая пайка</legend>
                <div class="form-group">
                    <input type="checkbox" id="Wave" name="Wave" value="1" onclick="check('Wave', 'Wave_off')"
                           {% if session.get('Wave_form')%} {% if session['Wave_form']['Wave'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Wave">Выполнять волновую пайку? </label>
                </div>
            </fieldset>
            <table>
                <tr>
                    <td style="width: 33%;">
                        <div class="form-group">
                            <label>Количество компонентов</label>
                            <br>
                            <input type="number" class="form-control" min="0" step="1" name="Wave_num" id="Wave_num"
                            value="{{ session['Wave_form']['Wave_num'] if session.get('Wave_form') else '' }}">
                        </div>
                        <div class="form-group">
                            <label>Количество оснасток</label>
                            <br>
                            <input type="number" class="form-control" min="0" step="1" name="Wave_eq_num" id="Wave_eq_num"
                            value="{{ session['Wave_form']['Wave_eq_num'] if session.get('Wave_form') else '' }}">
                        </div>
                        <input type="checkbox" id="Wave_type" name="Wave_type" value="1"
                           {% if session.get('Wave_form')%} {% if session['Wave_form']['Wave_type'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Wave">Это материнская или серверная плата? </label>
                    </td>
                    <td style="width: 33%;">
                        <input type="text" class="form-control" readonly value="Итоговая стоимость 1 ПУ">
                        <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                    </td>
                    <td>
                        <input type="text" name="money_pc_f" id="money_pc_f" class="form-control" readonly> 
                        <input type="text" name="money_all_f" id="money_all_f" class="form-control" readonly> 
                    </td>
                </tr>
            </table>
            <div class="panel-group" id="accordion_dat">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_data" href="#collapseOne_data">
                                Данные по стоимости волновой пайки
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne_data" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <td>
                                        <input type="text" class="form-control" readonly value="Количество плат в партии">
                                        <input type="text" class="form-control" readonly value="Количество плат в мультзаготовке">
                                        <input type="text" class="form-control" readonly value="Время сборки 1 ПУ">
                                        <input type="text" class="form-control" readonly value="Стоимость сборки 1 ПУ">
                                        <input type="text" class="form-control" readonly value="Время сборки всей партии">
                                        <input type="text" class="form-control" readonly value="Стоимость сборки всей партии">
                                        <input type="text" class="form-control" readonly value="Время ремонта партии">                            
                                        <input type="text" class="form-control" readonly value="Стоимость ремонта партии">
                                        <input type="text" class="form-control" readonly value="Время контроля ремонта партии">
                                        <input type="text" class="form-control" readonly value="Стоимость контроля ремонта партии">
                                    </td>
                                    <td>
                                        <input type="text" name="PCB" id="PCB" class="form-control" readonly>
                                        <input type="text" name="PCB_m" id="PCB_m" class="form-control" readonly>
                                        <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                                        <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                                        <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                                        <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                                        <input type="text" name="repair_time_all" id="repair_time_all" class="form-control" readonly>
                                        <input type="text" name="repair_money_all" id="repair_money_all" class="form-control" readonly>
                                        <input type="text" name="control_time_all" id="control_time_all" class="form-control" readonly>
                                        <input type="text" name="control_money_all" id="control_money_all" class="form-control" readonly>
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Данные для волновой пайки 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>{{ df.columns[0] }}</th>
                                                <th>{{ df.columns[1] }}</th>
                                            </tr>
                                        </thead>
                                        {% for row in df.iterrows(): %}
                                        <tr>
                                            {% for cell in row[1] %}
                                            <td>
                                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                    <input {% if edit == "0" %} disabled {% endif %}
                                                        type="number" min = 0 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                {% else %} <!-- Если это не второй столбец -->
                                                    {{ cell }}
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        
                                    </table>
                                </div>
                                <label>Пароль:</label>
                                <input type="password" class="form-control" name="password" 
                                        onkeydown="return event.key != 'Enter';">                
                                <br>
                                <button {% if edit != "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save" 
                                        onkeydown="return event.key != 'Enter';">Изменить</button>
                                <button {% if edit == "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save2" 
                                        onkeydown="return event.key != 'Enter';">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        window.onload = function(){
            wave_amount();
            check('Wave', 'Wave_off');
            wave_amount();
        }


        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }

        ids = ["Wave", "Wave_num", "Wave_eq_num", "Wave_type"];

        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                wave_amount();
            });
        }

        var chckbx = document.getElementById('Wave');
        var chckbx2 = document.getElementById('Wave_type');

        function wave_amount(){
            var batch = parseInt({{ session['home_form']['field3']}});
            var multi_num = parseInt({{ session['second_form']['multi_num']}});
            var pc = parseInt({{ session['second_form']['pc']}});
            const time_multi = parseFloat({{df['Значение'][0]}});
            var prev = parseInt({{ session['second_form']['prev']}});
            
            if (prev == 1){
                prev = 1 - parseFloat({{ df['Значение'][1] }});
            } else if (prev == 2){
                prev = 1;
            }

            
            let k = 1;
            if (chckbx2.checked){
                k = parseFloat({{ df['Значение'][7] }});
            }
            console.log(k);

            const n_eq = document.getElementById("Wave_eq_num").value;
            const N_comp = document.getElementById("Wave_num").value * pc;
            const t_comp = parseFloat({{ df['Значение'][8] }});
            const t_AOI = 2 * parseFloat({{ df['Значение'][9] }});
            const t_wave = parseFloat({{ df['Значение'][10] }}) / k;
            console.log(t_wave);
            const t_end = parseFloat({{ df['Значение'][0]}});
            const n_work = parseFloat({{ df['Значение'][6]}})

            let dt = (N_comp * t_comp + t_AOI) / n_work;
            const CycleTime = N_comp * t_comp + t_AOI + t_wave + t_end;
            const n_eq2 = CycleTime / dt;

            if (n_eq - n_work <= 0){
                dt = CycleTime / n_eq;
            }
            if (n_eq2 > n_eq){
                dt = CycleTime / n_eq;
            }
            const prod = (dt * multi_num + CycleTime)/3600;
            console.log(prod)
            const time_all = Math.ceil(prod);
            const time_pc = Math.ceil(time_all/ batch * 3600);
            const money_all = Math.ceil(prod * parseInt({{ df2['Стоимость, руб/ч'][4]}}));
            const money_pc = Math.ceil(money_all / batch);

            let repair = 0;
            if (prev == 1){
                repair = parseFloat({{df["Значение"][4]}}) * batch;
            } else if (prev == 2){
                repair = parseFloat({{df["Значение"][3]}}) * batch;
            }
            repair_time_all = Math.ceil(repair * parseFloat({{df["Значение"][5]}}) / 100 / 3600);
            repair_time_pc = Math.ceil(repair_time_all / batch * 3600);
            repair_money_all = Math.ceil(repair_time_all * parseInt({{ df2['Стоимость, руб/ч'][8]}}) );
            repair_time_pc = Math.ceil(repair_money_all / batch);

            control_time_all = Math.ceil(repair * parseFloat({{df["Значение"][6]}}) / 100 / 3600);
            control_time_pc = Math.ceil(control_time_all / batch * 3600);
            control_money_all = Math.ceil(control_time_all * parseInt({{ df2['Стоимость, руб/ч'][21]}}) );
            control_time_pc = Math.ceil(control_money_all / batch)
            if (chckbx.checked){
                document.getElementById('PCB').value = batch + " шт";
                document.getElementById('PCB_m').value = pc + " шт";
                document.getElementById('time_pc').value = time_pc + " c";
                document.getElementById('time_all').value = time_all + " ч";
                document.getElementById('money_pc').value = money_pc + " руб";
                document.getElementById('money_all').value = money_all + " руб";

                document.getElementById('repair_time_all').value = repair_time_all + " ч";
                document.getElementById('repair_money_all').value = repair_money_all + " руб";

                document.getElementById('control_time_all').value = control_time_all + " ч";
                document.getElementById('control_money_all').value = control_money_all + " руб";
                
                money_all_f = money_all + repair_money_all + control_money_all;
                money_pc_f = Math.ceil(money_all_f / batch);
                document.getElementById("money_all_f").value = money_all_f + " руб";
                document.getElementById("money_pc_f").value = money_pc_f + " руб";

            } else {
                document.getElementById('PCB').value = '-';
                document.getElementById('PCB_m').value = '-';
                document.getElementById('time_pc').value = '-';
                document.getElementById('time_all').value = '-';
                document.getElementById('money_pc').value = '-';
                document.getElementById('money_all').value = '-';
                
                document.getElementById("money_all_f").value = '-';
                document.getElementById("money_pc_f").value = '-';

                document.getElementById('repair_time_all').value = '-';
                document.getElementById('repair_money_all').value = '-';

                document.getElementById('control_time_all').value = '-';
                document.getElementById('control_money_all').value = '-';

            }
        }
    </script>
</body>
</html>