<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST"> 
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <fieldset>
                <legend>Рентгенконтроль</legend>
                <div class="form-group">
                    <input type="checkbox" id="Xray" name="Xray" value="1" onclick="check('Xray', 'Xray_off')"
                           {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Xray">Выполнять рентгенконтроль? </label>
                </div>
            </fieldset>
            <table>
                <tr>
                    <td style="width: 50%;">
                        <div class="form-group" id="Xray_off">
                            <label>Выборка в %</label>
                            <br>
                            <input type="number" class="form-control" min="0" step="1" max="100" name="Xray_proc" id="Xray_proc"
                                value="{{ session['Xray_form']['Xray_proc'] if session.get('Xray_form') else '' }}">
                            <label>Выберите тип изделия</label>
                            <br>
                            <label>
                                <input type="radio" name="Xray_type" value="1" id="SB"
                                    {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray_type'] == "1" %} checked {% endif %} {% endif %}>
                                Серверная плата
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Xray_type" id="MB"
                                    {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray_type'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Материнская плата
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Xray_type" id="misc"
                                    {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray_type'] == "3" %} checked {% endif %} {% endif %} value="3">
                                Прочее
                            </label>
                            <div class="form-group" id="multi" style="display:none">
                                <label>Время на проверку одной мультизаготовки:</label>
                                <input type="number" class="form-control" name="multi_control" id="multi_control" min="1" step="1" 
                                    value="{{ session['Xray_form']['multi_control'] if session.get('Xray_form') else '' }}"></input>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Количество мультизаготовок в партии</label>
                            <input type="number" name="number_multi" id="number_multi" class="form-control" readonly 
                                value="{{ session['second_form']['multi_num'] }}">
                            <label>Количество мультизаготовок в рентгене</label>
                            <input type="number" name="number_multi" id="number_multi" class="form-control" readonly 
                                value="{{ session['second_form']['multi_num'] }}">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        ids = ["MB", "SB", "misc"];
        window.onload = function(){
            check('Xray', 'Xray_off');
            checkOption('misc', 'multi');
        }

        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                checkOption('misc', 'multi');
            });
        }

        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }
        
        function checkOption(optionId, fieldId) {
            var radioOption1 = document.getElementById(optionId);
            var extraField = document.getElementById(fieldId);

            if(radioOption1.checked) {
                extraField.style.display = 'block';
            } else {
                extraField.style.display = 'none';
            }
        }
    </script>
</body>
</html>