<!DOCTYPE html>
<html>
<head>
    <title>money.contract</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" type="text/css" >
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- вывод flash-сообщений -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form id = "myForm" method="POST"> 
            <br>
            <button type="submit" class="btn btn-primary" name="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="tariffs">Тарифы</button>
            <button type="submit" class="btn btn-primary" name="next">Вперёд</button>
            <p></p>
            <fieldset>
                <legend>Рентгенконтроль</legend>
                <div class="form-group">
                    <input type="checkbox" id="Xray" name="Xray" value="1" onclick="check_all('Xray', 'Xray_off')"
                           {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray'] %} checked="checked" {% endif %} {% endif %}>
                    <label for="Xray">Выполнять рентгенконтроль? </label>
                </div>
            </fieldset>
            <table>
                <tr>
                    <td style="width: 30%;">
                        <div class="form-group" id="Xray_off">
                            <label>Выборка в %</label>
                            <br>
                            <input type="number" class="form-control" min="0" step="1" max="100" name="Xray_proc" id="Xray_proc"
                                value="{{ session['Xray_form']['Xray_proc'] if session.get('Xray_form') else '' }}">
                            <label>Выберите тип изделия</label>
                            <br>
                            <label>
                                <input type="radio" name="Xray_type" value="1" id="SB"
                                    {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray_type'] == "1" %} checked {% endif %} {% endif %}>
                                Серверная плата
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Xray_type" id="MB"
                                    {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray_type'] == "2" %} checked {% endif %} {% endif %} value="2">
                                Материнская плата
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="Xray_type" id="misc"
                                    {% if session.get('Xray_form')%} {% if session['Xray_form']['Xray_type'] == "3" %} checked {% endif %} {% endif %} value="3">
                                Прочее
                            </label>
                            <div class="form-group" id="multi" style="display:none">
                                <label>Время на проверку одного компонента, с:</label>
                                <input type="number" class="form-control" name="components_time" id="components_time" min="0" step="any" 
                                    value="{{ session['Xray_form']['components_time'] if session.get('Xray_form') else '1' }}"></input>
                                <label>Количество компонентов для рентгенконтроля:</label>
                                <input type="number" class="form-control" name="components" id="components" min="1" step="1" 
                                    value="{{ session['Xray_form']['components'] if session.get('Xray_form') else '1' }}"></input>
                            </div>
                        </div>
                    </td>
                    <td style="width: 40%;">
                        <div class="form-group">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость всей 1 ПУ">
                            <input type="text" class="form-control" readonly value="Итоговая стоимость всей партии">
                            </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="money_pc_f" id="money_pc_f" class="form-control" readonly> 
                            <input type="text" name="money_all_f" id="money_all_f" class="form-control" readonly> 
                        </div>
                    </td>
                </tr>
            </table>
            <div class="panel-group" id="accordion_dat">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_data" href="#collapseOne_data">
                                Данные по стоимости рентгенконтроля
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne_data" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <td>
                                        <input type="text" class="form-control" readonly value="Количество МЗ в партии">
                                        <input type="text" class="form-control" readonly value="Количество МЗ в рентгенконтроле за 1 запуск">
                                        <input type="text" class="form-control" readonly value="Запусков рентгенконтроля">
                                        <input type="text" class="form-control" readonly value="Времени на рентгенконтроль ПУ">
                                        <input type="text" class="form-control" readonly value="Стоимость рентгенконтроля ПУ">
                                        <input type="text" class="form-control" readonly value="Времени на рентгенконтроль партии">
                                        <input type="text" class="form-control" readonly value="Стоимость рентгенконтроля партии">
                                    </td>
                                    <td>
                                        
                                        <input type="text" name="number_multi" id="number_multi" class="form-control" readonly>
                                        <input type="text" name="number_Xray_pt" id="number_Xray_pt" class="form-control" readonly>
                                        <input type="text" name="number_Xray" id="number_Xray" class="form-control" readonly>
                                        <input type="text" name="time_pc" id="time_pc" class="form-control" readonly>
                                        <input type="text" name="money_pc" id="money_pc" class="form-control" readonly>
                                        <input type="text" name="time_all" id="time_all" class="form-control" readonly>
                                        <input type="text" name="money_all" id="money_all" class="form-control" readonly>
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Данные для рентгенконтроля
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>{{ df.columns[0] }}</th>
                                                <th>{{ df.columns[1] }}</th>
                                            </tr>
                                        </thead>
                                        {% for row in df.iterrows(): %}
                                        <tr>
                                            {% for cell in row[1] %}
                                            <td>
                                                {% if loop.index == 2 %}  <!-- Если это второй столбец -->
                                                    <input {% if edit == "0" %} disabled {% endif %}
                                                        type="number" min = 1 step="any" class="form-control" name="row{{ row[0] }}" value="{{ cell }}" />
                                                {% else %} <!-- Если это не второй столбец -->
                                                    {{ cell }}
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>Ширина мультизаготовки</td>
                                            <td>
                                                <input type="number" disabled class="form-control" value="{{ session['second_form']['width'] }}"></input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Длина мультизаготовки</td>
                                            <td>
                                                <input type="number" disabled class="form-control" value="{{ session['second_form']['length'] }}"></input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Партия</td>
                                            <td>
                                                <input type="number" disabled class="form-control" value="{{ session['home_form']['field3'] }}"></input>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <label>Пароль:</label>
                                <input type="password" class="form-control" name="password" 
                                        onkeydown="return event.key != 'Enter';">                
                                <br>
                                <button {% if edit != "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save" 
                                        onkeydown="return event.key != 'Enter';">Изменить</button>
                                <button {% if edit == "0" %} disabled {% endif %}
                                        type="submit" class="btn btn-primary" name="save2" 
                                        onkeydown="return event.key != 'Enter';">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </form>
    </div>
    <script>
        ids = ["MB", "SB", "misc", "Xray_proc", "components", "components_time"];

        window.onload = function(){
            check('Xray', 'Xray_off');
            checkOption('misc', 'multi');
            xray_amount();
        }

        function check_all(master, slave){
            check(master,slave);
            xray_amount();
        }

        const proc_x = document.getElementById('Xray_proc');
        const chckbx = document.getElementById('Xray');
        const type = document.getElementsByName('Xray_type');


        for (var i = 0; i < ids.length; i++) {
            var element = document.getElementById(ids[i]);
            element.addEventListener('change', function(){
                checkOption('misc', 'multi');
                xray_amount();
            });
        }

        function check(master, slave) {
          if (document.getElementById(master).checked) {
            document.getElementById(slave).classList.remove('disable_section')
          } else {
            document.getElementById(slave).classList.add('disable_section')
          }
        }
        
        function checkOption(optionId, fieldId) {
            var radioOption1 = document.getElementById(optionId);
            var extraField = document.getElementById(fieldId);

            if(radioOption1.checked) {
                extraField.style.display = 'block';
            } else {
                extraField.style.display = 'none';
            }
        }

        function xray_amount(){
            let coef = 1;
            var proc_value = parseFloat(proc_x.value) / 100;
            var money_all = 0;
            var money_pc = 0;
            var time_all = 0;
            var time_pc = 0;
            var batch = parseInt({{ session['home_form']['field3']}});
            var multi_num = parseInt({{ session['second_form']['multi_num'] }});
            coef = Math.max(Math.floor(parseFloat({{df['Значение'][0]}}) / parseFloat({{session['second_form']['width']}})) * 
            Math.floor(parseFloat({{df['Значение'][1]}}) / parseFloat({{session['second_form']['length']}})), 1);
            if (chckbx.checked){
                document.getElementById('number_multi').value = multi_num + " шт";
                document.getElementById('number_Xray_pt').value = coef + " шт";
                document.getElementById('number_Xray').value = Math.ceil(multi_num * proc_value / coef);
                if (type[0].checked){
                    time_all = parseInt({{ df['Значение'][2]}}) * proc_value * multi_num;
                    time_pc = time_all / parseInt({{ session['home_form']['field3']}});
                    money_all = time_all * parseFloat( {{df2['Стоимость, руб/ч'][16]}} ) / 3600;
                    money_pc = money_all / parseInt({{ session['home_form']['field3']}});
                } else if (type[1].checked){
                    time_all = parseInt({{ df['Значение'][3]}}) * proc_value * multi_num;
                    time_pc = time_all / parseInt({{ session['home_form']['field3']}});
                    money_all = time_all * parseFloat( {{df2['Стоимость, руб/ч'][16]}} ) / 3600;
                    money_pc = money_all / parseInt({{ session['home_form']['field3']}});
                } else if (type[2].checked){
                    time_pc = parseInt(document.getElementById('components').value) * parseFloat(document.getElementById('components_time').value) * proc_value;
                    time_all = time_pc * parseInt({{ session['home_form']['field3']}});
                    money_all = time_all * parseFloat( {{df2['Стоимость, руб/ч'][16]}} ) / 3600;
                    money_pc = money_all / parseInt({{ session['home_form']['field3']}});
                } 
                document.getElementById('time_all').value = Math.ceil(time_all / 3600) + " ч";
                document.getElementById('time_pc').value = Math.ceil(time_pc) +" c";
                document.getElementById('money_all').value = Math.ceil(money_all) + " руб";
                document.getElementById('money_pc').value = Math.ceil(money_pc) + " руб";

                money_all_f = Math.ceil(money_all);
                money_pc_f = Math.ceil(money_all_f / batch);
                document.getElementById('money_all_f').value = money_all_f + " руб";
                document.getElementById('money_pc_f').value = money_pc_f + " руб";

            } else{
                document.getElementById('number_multi').value = "-";
                document.getElementById('number_Xray_pt').value = "-";
                document.getElementById('number_Xray').value = "-";
                document.getElementById('time_all').value = "-";
                document.getElementById('time_pc').value = "-";
                document.getElementById('money_all').value = "-";
                document.getElementById('money_pc').value = "-";
                document.getElementById("money_all_f").value = '-';
                document.getElementById("money_pc_f").value = '-';
            }
        }
    </script>
</body>
</html>